# Advanced Data Types

We can get a lot done with the builtin data types `int`, `float`, `str`, `list`, `dict`, and `set`. 

This module will introduce the `collections` standard library module, which provides us with the additional types

- `OrderedDict`
- `defaultdict`
- `deque`
- `namedtuple`
- `Counter`

# The `collections` module

## Ordered Dictionaries

In [1]:
%%python2
# dictionaries did not retain insertion order prior to Python 3.6
d = {}
d['one'] = 3
d['two'] = 6
d['three'] = 0
for k, v in d.items():
    print k, v

three 0
two 6
one 3

In [2]:
%%python3
d = {}
d['one'] = 3
d['two'] = 6
d['three'] = 0
for k, v in d.items():
    print(k, v)

one 3
two 6
three 0

In [3]:
%%python2 
from collections import OrderedDict
d = OrderedDict()   # instead of {}
d['one'] = 3
d['two'] = 6
d['three'] = 0
for k, v in d.items():
    print k, v

one 3
two 6
three 0

In [5]:
# Python 3.6 dicts retain insertion order by default
d = {}
d['one'] = 3
d['four'] = 4
d['two'] = 6
d['three'] = 0
d

{'one': 3, 'four': 4, 'two': 6, 'three': 0}

In [6]:
for k, v in d.items():
    print(k, v)

one 3
four 4
two 6
three 0

In [7]:
from collections import OrderedDict
d = OrderedDict()
d['one'] = 3
d['two'] = 6
d['three'] = 0

In [8]:
# OrderedDict less useful in Python 3.6, but it does have a
# new method...
from collections import OrderedDict
d = OrderedDict()
d['one'] = 3
d['two'] = 6
d['three'] = 0
print(d)

OrderedDict([('one', 3), ('two', 6), ('three', 0)])

In [9]:
d.move_to_end('one')
print(d)

OrderedDict([('two', 6), ('three', 0), ('one', 3)])

In [10]:
d.move_to_end('three', False)
print(d)

OrderedDict([('three', 0), ('two', 6), ('one', 3)])

In [11]:
d.move_to_end?

In [12]:
# bisect module is used for binary search

In [13]:
import bisect, random
values = [random.random() for x in range(5)]
values

[0.06138538832177287,
 0.5994579510140771,
 0.0893018082596011,
 0.314874800537958,
 0.688991819125233]

In [14]:
values.sort()
values

[0.06138538832177287,
 0.0893018082596011,
 0.314874800537958,
 0.5994579510140771,
 0.688991819125233]

In [15]:
bisect.bisect(values, 0.5)

3

In [16]:
value = values[3]
value

0.5994579510140771

In [17]:
bisect.bisect(values, value)

4

In [18]:
bisect.bisect_left(values, value)

3

(also see the `heapq` module for the Heap datastructure)

# The `collections` module: Default Dictionaries

In [19]:
d = {}
# d['a'] would cause a KeyError exception
d.get('a', 5)

5

In [25]:
d.setdefault?

In [26]:
print(d.get('a'))

None

In [27]:
d

{}

In [28]:
d.setdefault('b', 10)

10

In [29]:
d

{'b': 10}

## Default Dictionaries
* suppose we need a default value for any key which does not exist in the dictionary
 * we can use the __`get()`__ function, or __`setdefault()`__ (or an exception handler), or we can use a `Default Dictionary`

In [30]:
def mydefault():
    return 42

from collections import defaultdict

dd = defaultdict(mydefault)
dd['foo']

42

In [35]:
cc = defaultdict(mydefault)
cc

defaultdict(<function __main__.mydefault()>, {})

In [36]:
dd

defaultdict(<function __main__.mydefault()>, {'foo': 42})

In [37]:
list()

[]

In [38]:
result = defaultdict(list)
result['a']

[]

In [39]:
result

defaultdict(list, {'a': []})

In [40]:
s = 'thequickbrownfoxjumpsoverthelazydog'
for ch in s:
    result[ch].append(ch)
result

defaultdict(list,
            {'a': ['a'],
             't': ['t', 't'],
             'h': ['h', 'h'],
             'e': ['e', 'e', 'e'],
             'q': ['q'],
             'u': ['u', 'u'],
             'i': ['i'],
             'c': ['c'],
             'k': ['k'],
             'b': ['b'],
             'r': ['r', 'r'],
             'o': ['o', 'o', 'o', 'o'],
             'w': ['w'],
             'n': ['n'],
             'f': ['f'],
             'x': ['x'],
             'j': ['j'],
             'm': ['m'],
             'p': ['p'],
             's': ['s'],
             'v': ['v'],
             'l': ['l'],
             'z': ['z'],
             'y': ['y'],
             'd': ['d'],
             'g': ['g']})

In [41]:
dd = defaultdict(dict)

In [42]:
dd['a']['b'] = 5

In [43]:
dd

defaultdict(dict, {'a': {'b': 5}})

In [44]:
def recursive_dict():
    return defaultdict(recursive_dict)

In [45]:
rdict = recursive_dict()
rdict['a']['b']['c']['d'] = 'foo'

In [46]:
rdict

defaultdict(<function __main__.recursive_dict()>,
            {'a': defaultdict(<function __main__.recursive_dict()>,
                         {'b': defaultdict(<function __main__.recursive_dict()>,
                                      {'c': defaultdict(<function __main__.recursive_dict()>,
                                                   {'d': 'foo'})})})})

# The `collections` module: Deque

# Deque
* double ended queue
* pronounced "deck"

Aside: definition the word `queue`:

The letter q, followed by 4 letters silently waiting their turn

In [47]:
from collections import deque
dq = deque(range(10), maxlen=10) # maxlen is optional
dq

deque([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
dq.rotate(3) # +n takes items from right, prepends to left, vice versa for -n
dq

deque([7, 8, 9, 0, 1, 2, 3, 4, 5, 6])

In [38]:
dq.rotate(-4)
dq

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

In [39]:
dq.appendleft('a') # appending to full deque discards item(s) from other end
dq

deque(['a', 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
dq.append('end')

In [41]:
dq

deque([1, 2, 3, 4, 5, 6, 7, 8, 9, 'end'])

In [42]:
dq.extend('bcd')
dq

deque([4, 5, 6, 7, 8, 9, 'end', 'b', 'c', 'd'])

In [43]:
dq.extendleft((-1, -2, -3))
dq

deque([-3, -2, -1, 4, 5, 6, 7, 8, 9, 'end'])

In [44]:
dq.pop() # same as list

'end'

In [45]:
dq.popleft()

-3

In [46]:
dq

deque([-2, -1, 4, 5, 6, 7, 8, 9])

In [ ]:
import queue

In [ ]:
queue.Queue()

#### Aside: append vs extend

In [47]:
foo = [1, 2]
foo.append([5, 6, 7])
foo

[1, 2, [5, 6, 7]]

In [48]:
foo = [1, 2]
foo.extend([5, 6, 7])  #aka foo += [5,6,7]
foo

[1, 2, 5, 6, 7]

In [49]:
foo = [1, 2]
foo.append('bcd')
foo

[1, 2, 'bcd']

In [50]:
foo = [1, 2]
foo.extend('bcd')  # like += 
foo

[1, 2, 'b', 'c', 'd']

`</aside>`

In [51]:
dq

deque([-2, -1, 4, 5, 6, 7, 8, 9])

In [52]:
dq.remove(4) # same as list
dq

deque([-2, -1, 5, 6, 7, 8, 9])

In [53]:
dq.reverse()
print(dq)

deque([9, 8, 7, 6, 5, -1, -2], maxlen=10)

In [54]:
dq.append(0)
dq

deque([9, 8, 7, 6, 5, -1, -2, 0])

In [55]:
del dq[2]

In [56]:
dq

deque([9, 8, 6, 5, -1, -2, 0])

In [58]:
import sys
sys.getsizeof([])

56

In [59]:
sys.getsizeof(deque())

624

# The `collections` module: Named Tuples

## Named Tuples
* tuples are quite handy, but they are missing a key feature when using them as records–sometimes we want to name the fields
 * more efficient (i.e., less memory) than dictionaries because instances don't need to contain the keys themselves, as dictionaries do, just the values
* __`namedtuple()`__ returns not an individual object but a new class, customized for the given names

In [60]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')
#Point = namedtuple('Point', ['x', 'y'])
# first argument is the name of the tuple class itself
# second argument is attribute names as an iterable of strings or a
# single space/comma-delimited string

In [63]:
Point

__main__.Point

In [64]:
point1 = Point(1, 3)
point1, type(point1)

(Point(x=1, y=3), __main__.Point)

In [65]:
issubclass(Point, tuple)

True

In [66]:
point2 = Point(y=-2, x=-3)
point2

Point(x=-3, y=-2)

In [67]:
print(point1[0], point1[1]) # what we would do if just a tuple

1 3

In [68]:
print(point1.x, point1.y) # much nicer, because fields are named

1 3

In [69]:
from collections import namedtuple
Coords = namedtuple('Coords', 'lat long')
City = namedtuple('City', 'name country population coords')
tokyo = City('Tokyo', 'JP', 36.933, Coords(lat=35.689722, long=139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coords=Coords(lat=35.689722, long=139.691667))

In [70]:
tokyo.population

36.933

In [71]:
tokyo.coords

Coords(lat=35.689722, long=139.691667)

In [72]:
tokyo[1]

'JP'

In [73]:
type(City)

type

In [74]:
type(tokyo)

__main__.City

In [75]:
City._fields

('name', 'country', 'population', 'coords')

In [77]:
for field in City._fields:
    print(field, getattr(tokyo, field))

name Tokyo
country JP
population 36.933
coords Coords(lat=35.689722, long=139.691667)

In [78]:
for i, field in enumerate(City._fields): # tuple containing field names
    print(i, field, tokyo[i])

0 name Tokyo
1 country JP
2 population 36.933
3 coords Coords(lat=35.689722, long=139.691667)

# `<Aside name="function arguments">`

In [79]:
def foo(*args):
    print(args)

In [80]:
foo(1)

(1,)

In [81]:
foo(1,2,3)

(1, 2, 3)

In [82]:
def bar(a, b):
    print(a, b)

In [83]:
args = (1,2)
bar(*args)

1 2

In [84]:
bar(*[1,2])

1 2

In [85]:
bar(*'fo')

f o

In [86]:
def wrapped2(a, b):
    print(a, b)
    
def wrapped3(a, b, c):
    print(a, b, c)

def wrapper(func, *args):
    print('About to call', func)
    return func(*args)

In [87]:
wrapper(wrapped3, 1,2,3)

About to call <function wrapped3 at 0x11149df70>
1 2 3

In [88]:
wrapper(wrapped2, 1, 2)

About to call <function wrapped2 at 0x11149dc10>
1 2

In [89]:
bar(1,2)

1 2

In [90]:
bar(b=2, a=1)

1 2

In [91]:
def foo2(**kwargs):
    print(kwargs)

In [92]:
foo2(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

In [93]:
def wrapped(a, b, c):
    print(a, b, c)

def wrapper(func, *args, **kwargs):
    return func(*args, **kwargs)

In [94]:
wrapper(wrapped, 1, 2, c=4)

1 2 4

# `</Aside>`

In [95]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935,
              LatLong(28.613889, 77.2098889)) # tuple
delhi = City._make(delhi_data) # same as City(*delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coords=LatLong(lat=28.613889, long=77.2098889))

In [96]:
delhi2 = City(*delhi_data)
delhi2

City(name='Delhi NCR', country='IN', population=21.935, coords=LatLong(lat=28.613889, long=77.2098889))

In [97]:
delhi == delhi2 == delhi_data

True

In [98]:
d = delhi._asdict() # returns an OrderedDict built from named tuple before 3.8
d

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coords': LatLong(lat=28.613889, long=77.2098889)}

In [99]:
City(**d)

City(name='Delhi NCR', country='IN', population=21.935, coords=LatLong(lat=28.613889, long=77.2098889))

https://docs.python.org/3/library/dataclasses.html for a read-write implementation of something similar

In [100]:
from sys import getsizeof

In [101]:
getsizeof({})

64

In [102]:
getsizeof(())

40

In [103]:
getsizeof([])

56

In [104]:
getsizeof(set())

216

In [105]:
getsizeof(deque())

624

In [106]:
getsizeof('')

49

In [107]:
getsizeof(delhi)

72

In [108]:
72 - 40

32

In [109]:
4 * 8 == 32

True

In [110]:
s = '1' * 10_000

In [111]:
getsizeof(s)

10049

In [112]:
dct = {'': None}

In [113]:
getsizeof(dct)

232

There are 10 kinds of people in the world...

those who read binary
and those who don't

# Advanced Datatypes: Counters

## Counters
* __`dict`__ subclass for counting things
* unordered collection where things being counted are `dict` keys and the counts are `dict` values
* __`Counters`__ can have negative values

In [114]:
from collections import Counter
c = Counter()
c

Counter()

In [115]:
dict(c)

{}

In [116]:
c = Counter('disagree and commit')
c

Counter({'d': 2,
         'i': 2,
         's': 1,
         'a': 2,
         'g': 1,
         'r': 1,
         'e': 2,
         ' ': 2,
         'n': 1,
         'c': 1,
         'o': 1,
         'm': 2,
         't': 1})

In [117]:
c = Counter({'red': 5, 'blue': -1})
c

Counter({'red': 5, 'blue': -1})

In [118]:
c['blue'] += 1
c

Counter({'red': 5, 'blue': 0})

In [119]:
c['green'] += 10

In [120]:
c

Counter({'red': 5, 'blue': 0, 'green': 10})

In [121]:
c['yellow'] += 200

In [122]:
c

Counter({'red': 5, 'blue': 0, 'green': 10, 'yellow': 200})

In [123]:
c = Counter(red=6, blue=5, green=3, pink=1, yellow=-3)
c.elements() # returns an iterator

In [124]:
list(c.elements())

['red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'blue',
 'blue',
 'blue',
 'blue',
 'blue',
 'green',
 'green',
 'green',
 'pink']

In [125]:
c.most_common(3) # returns the n most common elements

[('red', 6), ('blue', 5), ('green', 3)]

In [126]:
c

Counter({'red': 6, 'blue': 5, 'green': 3, 'pink': 1, 'yellow': -3})

In [127]:
dict(c)

{'red': 6, 'blue': 5, 'green': 3, 'pink': 1, 'yellow': -3}

In [128]:
Counter(['red', 'red', 'blue', 'red', 'green'])

Counter({'red': 3, 'blue': 1, 'green': 1})

In [129]:
d = Counter(f5=0, pink=0, red=3, blue=5, green=2, yellow=1)
c.subtract(d) # preserves negative values (like -=)
c

Counter({'red': 3, 'blue': 0, 'green': 1, 'pink': 1, 'yellow': -4, 'f5': 0})

In [130]:
# The - operator does *not* preserve negative values
Counter(red=6, blue=5, green=-1) - Counter(red=3, blue=7, green=1)

Counter({'red': 3})

In [131]:
c.items()

dict_items([('red', 3), ('blue', 0), ('green', 1), ('pink', 1), ('yellow', -4), ('f5', 0)])

In [132]:
+c # generates new Counter, discarding 0s or negatives (Py3)

Counter({'red': 3, 'green': 1, 'pink': 1})

In [133]:
c = Counter(red=6, blue=5, green=3, pink=1, yellow=-3)
c = -c # discard positives and multiply remaining negatives by -1
c

Counter({'yellow': 3})

In regular dict objects, we can overwrite values with .update:

In [134]:
dct = {'green': 1, 'pink': 1, 'red': 3}
dct.update(red=1, green=5, pink=-2)
dct

{'green': 5, 'pink': -2, 'red': 1}

In [135]:
c = Counter({'green': 1, 'pink': 1, 'red': 3})
c.update(red=1, green=5, pink=-2) # updates the counts
c

Counter({'green': 6, 'pink': -1, 'red': 4})

In [136]:
c = Counter(a=3, b=1, c=4)
d = Counter(b=2, a=1, c=5)
c + d

Counter({'a': 4, 'b': 3, 'c': 9})

In [137]:
c - d

Counter({'a': 2})

In [138]:
c,d

(Counter({'a': 3, 'b': 1, 'c': 4}), Counter({'b': 2, 'a': 1, 'c': 5}))

I don't use the following too often, myself, but we can also find the min & max values for each item in two counters.

In [139]:
c & d # min(c[x], d[x])

Counter({'a': 1, 'b': 1, 'c': 4})

In [140]:
c | d # max(c[x], d[x])

Counter({'a': 3, 'b': 2, 'c': 5})

Custom classes can override all operators except for 

```python
and or not is
```

# Lab

Open the [Advanced Data Types Lab][advanced-data-types-lab]

[advanced-data-types-lab]: ./advanced-data-types-lab.ipynb