# Core Python Syntax

- Python names ("variables") and typing
- Control structures & looping: if/elif/else/while/for
- Python data structures: numbers, strings, lists, sets, dicts, tuples
- Python functions, variables, and scoping rules

# Python names and typing

## Python can be used as a desk calculator

In [1]:
2 ** 38

274877906944

In [2]:
1 + 5

6

## Arithmetic operators

- `+` - addition
- `-` - subtraction
- `*` - multiplication
- `/` - division
- `%` - modulo division (remainder)
- `//` - "floor division"
- `**` - exponentiation

In [3]:
3 / 2

1.5

In [4]:
3 // 2

1

## Bitwise operators

- `&` - bitwise and
- `|` - bitwise or
- `^` - bitwise exclusive-or (xor)
- `~` - bitwise inversion

In [5]:
0b0101 | 0b1010

15

In [6]:
0x0f | 0xf0

255

In [7]:
hex(0xaa & 0xf0)

'0xa0'

In [8]:
(0x0f | 0xf0) << 5

8160

## In-place operators

The syntax `x OP= y` means `x = x OP y`, so you can do quick updates to names by typing things like

```python
x += 10
```

Note that Python does *not* have the syntax `x++` for increment (use `x+=1` instead)

## *names* can be *bound* to *values*

In [9]:
x = 5  # the name "x" is bound to the value 5

In [10]:
x + 2

7

In [11]:
x += 10
x

15

## Python *names* are untyped (by default), but the *values* have types

Python names aren't really "variables" as in other languages; they're more like "pointers" or "references"

In [12]:
x = "Prince"

In [13]:
x

'Prince'

In [14]:
x + 1999

TypeError: can only concatenate str (not "int") to str

In [15]:
x + str(1999)

'Prince1999'

In [16]:
y = x
y

'Prince'

In [17]:
x += str(1999) # binds 'x' to the value 'Prince1999' but does *not* modify 'y'
x

'Prince1999'

In [18]:
y

'Prince'

# Control structures

- Block structure via indentation
- `if`/`elif`/`else` - conditional execution
- `while` - basic looping
- `for` - iteration through objects

In [25]:
# x = 1999
# x = 2000
# x = 2001
x = float('nan')

In [26]:
if x < 2000:
    print('Pre-milennial')
elif x == 2000:
    print('Millenial!')
elif x > 2000:
    print('Post-milennial')
else:
    print('x is weird')

x is weird

In [27]:
x = 0
while x < 10:  
    print("x = ", x)
    x = x + 1
print('End')

x =  0
x =  1
x =  2
x =  3
x =  4
x =  5
x =  6
x =  7
x =  8
x =  9
End

In [28]:
for x in range(10):   # for(int i = 0; i < 10; i++) {...}
    print(x, end=' ')

0 1 2 3 4 5 6 7 8 9

In [29]:
for x in 'Prince':
    print(x, end=' ')

P r i n c e

In [30]:
for x in range(5, 10):
    print(x, end=' ')

5 6 7 8 9

In [31]:
for x in range(0, 10, 2):   # i+= 2
    print(x, end=' ')

0 2 4 6 8

In [32]:
for x in range(9, 0, -2):
    print(x, end=' ')

9 7 5 3 1

In [33]:
# in Python 2, this would have created a list in memory
range(10_000_000_000)

range(0, 10000000000)

# Data structures: numbers

Python has 3 built-in numeric types:

- `int` - integers of unbounded precision
- `float` - double-precision floating point numbers
- `complex` - complex numbers (not as widely used)

All number values in Python are **immutable** (`x += 5` creates a *new* number value and assigns `x` to it)

In [38]:
# Integers
x = 100
type(x)

int

In [39]:
# Unbounded precision
x ** 500

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Floating point super-fast primer

IEEE 754 Floating-point

(sign bit +/-) binary_mantissa x 2 ^ (binary exponent)

In [40]:
0.1 * 3

0.30000000000000004

In [41]:
0.3

0.3

In [42]:
0.3 == 0.1 * 3

False

In [43]:
0.1 * 3 - 0.3

5.551115123125783e-17

In [44]:
# Convenient literal formatting
10_00_00_000

100000000

In [45]:
100_000_000

100000000

In [46]:
# Other data formats
0o777

511

In [47]:
0xff

255

In [48]:
0b1010

10

In [49]:
oct(511), hex(255), bin(10)

('0o777', '0xff', '0b1010')

In [50]:
# OCT 31 == DEC 25
0o31

25

In [51]:
x = 3.14
type(x)

float

In [52]:
3.14e-4

0.000314

In [53]:
-0.0 is 0.0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-53-d9f5229cd348>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  -0.0 is 0.0

False

In [54]:
-0 is 0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-54-9fcc9c3f261f>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  -0 is 0

True

In [55]:
float('nan')

nan

In [56]:
float('inf')

inf

In [57]:
-float('inf')

-inf

In [58]:
# Complex
x = 1.0j * 1j
x

(-1+0j)

In [59]:
x.real

-1.0

In [60]:
x.imag

0.0

In [61]:
2.718281828 ** (3.14159j)   # ~= -1

(-0.9999999999964778+2.6541203240831864e-06j)

# Data structures: boolean

In [62]:
x = True
type(x)

bool

In [64]:
if x:
    print('x is truthy')
else:
    print('x is falsy')

x is truthy

In [65]:
True, False

(True, False)

## Comparison operators

- `<` - strictly less than
- `<=` - less than or equal to
- `>` - strictly greater than
- `>=` - greater than or equal to
- `==` - equal to (value comparison)
- `!=` - not equal to

## Boolean operators

- `and` - logical and
- `or` - logical or
- `not` - logical not

Note that boolean operators use *short-circuit evaluation*:

In [150]:
x = 10
x < 20 or print('X is large!')

True

In [151]:
x > 20 and print('X is large!')

False

In [152]:
if 10 > 20 or print('X is small'):
    print('overall true')
else:
    print('overall false')

X is small
overall false

In [153]:
x > 20 or print('X is small!')

X is small!

In [154]:
'small' or 'large'

'small'

In [155]:
'small' and 'large'

'large'

In [156]:
value = x < 20 and 'small' or 'large'

In [157]:
value

'small'

In [158]:
# 'corner case' where short-circuit doesn't work
value = x < 20 and [] or ['list with stuff']

In [72]:
value

['list with stuff']

## Conditional expressions

Similar to the ternary operator in other languages (e.g. `size = x < 20 ? 'small' : 'large'`)

In [74]:
size = 'small' if x < 20 else 'large'
size

'small'

# Data Structures: `NoneType`

Python's NULL value is called `None`, and it is an singleton

In [75]:
x = None
y = None

In [76]:
x is y

True

Object identity can be compared using the `is` operator, and it is commonly used to compare to `None`:

In [78]:
if x is None:
    print('x is None!')

x is None!

In [97]:
lst1 = []
lst2 = lst1
lst3 = []

In [98]:
lst1 is lst2

True

In [99]:
lst1 is lst3

False

In [100]:
lst1 == lst3

True

In [101]:
if lst1:
    print('non-empty')
else:
    print('empty')

empty

## Data Structures: string

Note that Python strings are *immutable* and *unicode-aware*

In [102]:
# Python strings can be single- or double- quoted
x = 'This is a "valid" Python string'
y = "So is this, isn't it?"
z = 'Special characters like newline (\n) and quote (\') can be escaped'
print(x, y, z, sep='\n')

This is a "valid" Python string
So is this, isn't it?
Special characters like newline (
) and quote (') can be escaped

In [103]:
# Python strings can extend over multiple lines, 
# but they must be "triple-quoted"
print("""This is a fine Python string, 
even though it extends
over multiple lines.""")
print('''Triple-single quotes work, as well, 
and you can embed any other kind of quote 
without escaping: '' "" """  ''')

This is a fine Python string,
even though it extends
over multiple lines.
Triple-single quotes work, as well,
and you can embed any other kind of quote
without escaping: '' "" """

In [106]:
tcs = """This is a finé Python string, 
even though it extends
over multiple lines."""

In [107]:
tcs

'This is a finé Python string, \neven though it extends\nover multiple lines.'

In [110]:
tcs.encode('utf-8')

b'This is a fin\xc3\xa9 Python string, \neven though it extends\nover multiple lines.'

Strings can be "sliced" to retrieve a single-character string or a substring

In [111]:
x = 'The quick brown fox jumps over the lazy dog'
x[0] # zero-based

'T'

In [112]:
x[len(x)-1]

'g'

In [113]:
x[-1]  # negative indexes mean to start at the end and work backwards

'g'

String slicing for substrings

In [114]:
x[0:3]

'The'

In [115]:
for i in range(0, 3):
    print(i, end=' ')

0 1 2

In [116]:
# If you omit a part of a slice, Python "fills in" a value that makes sense
x[:3] # fill in the start of the string

'The'

In [117]:
x[-3:]  # fill in the end of the string

'dog'

In [118]:
# Get even characters  (like range(0, len(x), 2))
x[::2]

'Teqikbonfxjmsoe h aydg'

In [119]:
# Get odd characters
x[1::2]

'h uc rw o up vrtelz o'

In [120]:
x[::-1]

'god yzal eht revo spmuj xof nworb kciuq ehT'

In [121]:
x

'The quick brown fox jumps over the lazy dog'

String concatenation

In [122]:
"This is " + "just fine."

'This is just fine.'

String duplication

In [123]:
'-' * 10

'----------'

In [124]:
indent_level = 4
print('    ' * indent_level + 'Something')

                Something

Other string-y things

In [125]:
# Raw strings: ignores most backslashes so you can create strings with 
#   backslashes (useful for regular expressions)
print(r'This string contains a backslash (\n), but I don\'t have to escape it')

This string contains a backslash (\n), but I don\'t have to escape it

In [126]:
print('This string contains a backslash (\\n), but I don\\\'t have to escape it')

This string contains a backslash (\n), but I don\'t have to escape it

In [127]:
# Bytestrings ('bytes' object) - 8-bit stringlike data
print(b'This is a bytes object. It looks like a string, but it is not.')

b'This is a bytes object. It looks like a string, but it is not.'

In [128]:
y = 'Unicode string'
y.encode('utf-8')

b'Unicode string'

In [135]:
b'Bytestrings'.decode('utf-8')

'Bytestrings'

In [136]:
# Iteration over strings iterates over each letter
for letter in x:
    print(letter, end=' ')

T h e   q u i c k   b r o w n   f o x   j u m p s   o v e r   t h e   l a z y   d o g

## Data Structures: list

Lists are
- dynamically typed
- mutable
- variably-sized
- ordered

In [159]:
lst = [1,2,'foo']   # mixing types is fine (though uncommon)

In [160]:
lst.append(5)
lst

[1, 2, 'foo', 5]

In [161]:
# Lists can be sliced just like strings
lst[:2]

[1, 2]

In [162]:
lst[3]

5

In [163]:
lst[3] = 'five'    # replace the value in position #3

In [164]:
lst

[1, 2, 'foo', 'five']

In [165]:
lst2 = list(range(10))
lst2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

www.pythontutor.com

In [166]:
lst2[1:-1] = ['foo']
lst2

[0, 'foo', 9]

In [167]:
lst + [10, 11]  # List concatenation

[1, 2, 'foo', 'five', 10, 11]

In [168]:
lst

[1, 2, 'foo', 'five']

In [169]:
lst.extend([12, 13])   # also lst += [12, 13]
lst

[1, 2, 'foo', 'five', 12, 13]

In [170]:
list('Some string')   # the `list` function can make lists of any iterable object

['S', 'o', 'm', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [171]:
# Iteration over lists iterates over each element
for element in lst:
    print(element)

1
2
foo
five
12
13

Optional static type annotations with http://mypy-lang.org

Lists internally are implemented as something like a `vector<PyObject*>` in C++

## Data Structures: tuple

Tuples are:

- dynamically typed
- immutable
- ordered

Typically used to represent:

- multiple attributes of a single item (x, y coordinates, file stat output, etc.)
- "multiple returns" from functions (return a tuple of results)

In [172]:
tup = 1, 2, 3, 4, 5
tup

(1, 2, 3, 4, 5)

In [173]:
tup[0]

1

In [174]:
print(1, 2, 3)

1 2 3

In [175]:
print((1, 2, 3))

(1, 2, 3)

In [176]:
t = 1, 2, 3
print(t)

(1, 2, 3)

In [177]:
tup[2:4]

(3, 4)

In [178]:
tup + ('one', 'two')  # creates a new tuple

(1, 2, 3, 4, 5, 'one', 'two')

In [179]:
orig_tup = tup
tup += ('one', 'two')  # so does this (e.g. tup = tup + ('one', 'two'))
tup

(1, 2, 3, 4, 5, 'one', 'two')

In [180]:
orig_tup

(1, 2, 3, 4, 5)

In [181]:
# 0-length tuple
()

()

In [182]:
# 1-length tuple
1,

(1,)

In [183]:
(1)

1

In [184]:
# Iteration over tuples iterates over each element
for element in tup:
    print(element)

1
2
3
4
5
one
two

It is possible to modify the __elements__ of a tuple:

In [185]:
x = ([10],['foo'])
x

([10], ['foo'])

In [186]:
# _tmp = x[0]
# _tmp.append(5)
x[0].append(5)

In [187]:
x

([10, 5], ['foo'])

In [188]:
x[0] = [5]

TypeError: 'tuple' object does not support item assignment

In [189]:
x[0].extend([1,2])

In [190]:
x

([10, 5, 1, 2], ['foo'])

In [191]:
x[0] += [3,4]   # x[0] = x[0] + [3,4]  / x[0].extend([3,4])

TypeError: 'tuple' object does not support item assignment

In [192]:
x

([10, 5, 1, 2, 3, 4], ['foo'])


When Python sees `x[A] += y`:

 1. it retrieves `z = X[A]` ==> `x.__getitem__(A)`
 1. it calls `z.__iadd__(y)`
 2. it assigns `x[A] = z`   ==> `z.__setitem__(A, z)`

## Data Structures: set

Sets are:

- dynamically typed (requires hashability)
- mutable (unless `frozenset`)
- unordered

Set elements are unique

In [194]:
evens = {2, 4, 6, 8}
odds = {1, 3, 5, 7, 9}
primes = {2, 3, 5, 7}

In [195]:
evens.add(10)
evens

{2, 4, 6, 8, 10}

In [196]:
evens.add(4)
evens

{2, 4, 6, 8, 10}

In [197]:
evens.remove(10)
evens

{2, 4, 6, 8}

In [198]:
evens.remove(10)

KeyError: 10

In [199]:
evens.discard(10)  # remove, or ignore if missing
evens

{2, 4, 6, 8}

In [200]:
6 in evens    # most common set operation

True

In [201]:
evens | odds      # set union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [202]:
evens & primes    # set intersection

{2}

In [203]:
odds ^ primes     # set exclusive-or

{1, 2, 9}

In [204]:
odds - primes     # set subtraction

{1, 9}

In [205]:
odd_primes = odds & primes
odd_primes < odds   # proper subset

True

In [206]:
odd_primes <= odd_primes

True

In [207]:
odd_primes < odd_primes

False

In [208]:
# empty set
set()

set()

In [209]:
type({})

dict

In [210]:
# Iteration over sets iterates over each element
for element in evens:
    print(element)

2
4
6
8

In [211]:
import random
lst = [random.randint(0, 10) for i in range(100)]

In [212]:
lst

[5,
 2,
 2,
 1,
 0,
 8,
 1,
 3,
 5,
 4,
 5,
 5,
 2,
 8,
 0,
 9,
 6,
 4,
 5,
 8,
 7,
 7,
 1,
 1,
 7,
 2,
 7,
 10,
 7,
 0,
 0,
 9,
 0,
 5,
 7,
 2,
 3,
 4,
 10,
 6,
 7,
 1,
 6,
 8,
 7,
 7,
 10,
 4,
 1,
 2,
 1,
 10,
 10,
 8,
 9,
 10,
 4,
 4,
 6,
 7,
 0,
 8,
 6,
 3,
 10,
 0,
 3,
 3,
 0,
 0,
 6,
 4,
 1,
 3,
 9,
 3,
 3,
 5,
 7,
 6,
 7,
 0,
 8,
 9,
 1,
 7,
 2,
 2,
 6,
 7,
 6,
 2,
 6,
 10,
 2,
 5,
 2,
 7,
 6,
 1]

In [213]:
set(lst)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [214]:
5 in evens

False

In [215]:
5 in list(evens)

False

In [216]:
{ [] }

TypeError: unhashable type: 'list'

## Data Structures: dict

dictionaries ("`dict`s") are
- dynamically typed
- mutable
- somewhat ordered

...mappings between keys and values.

Dict keys must be "hashable" (generally means immutable, so numbers, strings, and tuples are fine; lists, sets, and other dicts are not)

In [217]:
dct = {'one': 1, 2: 'two', 3.14: 'pi'}
dct

{'one': 1, 2: 'two', 3.14: 'pi'}

In [218]:
# dicts are iterated in their insertion / creation order in Python 3.6+. 
# Iteration iterates over the *keys* of the dictionary
for key in dct:
    print(key)

one
2
3.14

In [ ]:
# We can also iterate over values or (key, value) tuples with dict methods:

In [219]:
for value in dct.values():
    print(value)

1
two
pi

In [220]:
for tup in dct.items():
    print(type(tup), tup)

<class 'tuple'> ('one', 1)
<class 'tuple'> (2, 'two')
<class 'tuple'> (3.14, 'pi')

In [221]:
# More commonly:
for key, value in dct.items():
    print(key, value)

one 1
2 two
3.14 pi

In [224]:
# Correct but non-Pythonic
for key in dct.keys():
    print(key, dct[key])

one 1
2 two
3.14 pi

In [225]:
dct[2]

'two'

In [226]:
dct[3.14]

'pi'

In [230]:
dct[2] = 'two are better than one'

In [231]:
dct

{'one': 1, 2: 'two are better than one', 3.14: 'pi'}

In [232]:
dct[4] = {
    'Something else': 'entirely'
}

In [233]:
dct

{'one': 1,
 2: 'two are better than one',
 3.14: 'pi',
 4: {'Something else': 'entirely'}}

In [234]:
dct[2] = 2.0

dct['pi'] = '3.14'

dct

{'one': 1, 2: 2.0, 3.14: 'pi', 4: {'Something else': 'entirely'}, 'pi': '3.14'}

In [235]:
dct[4]['Something else']

'entirely'

## Membership tests

The `in` keyword is used to determine whether an item is contained in a collection.

In [238]:
'foo' in 'foobar'   # substring

True

In [239]:
1 in [1,2], 1 in (1, 2), 1 in {1, 2}

(True, True, True)

In [240]:
10 in [1,2], 10 in (1, 2), 10 in {1, 2}

(False, False, False)

In [241]:
# Dict membership tests *keys*, not *values*
dct = {'one': 1, 2: 'two'}
dct

{'one': 1, 2: 'two'}

In [242]:
'one' in dct

True

In [243]:
'two' in dct

False

In [244]:
'two' in dct.values()   # O(n)

True

Useful Dictionary methods

In [245]:
dct

{'one': 1, 2: 'two'}

In [246]:
dct['three']

KeyError: 'three'

In [247]:
print(dct.get('three'))

None

In [248]:
print(dct.get('three', 'missing'))

missing

In [249]:
dct

{'one': 1, 2: 'two'}

In [250]:
dct.get('one', 4)

1

In [251]:
dct

{'one': 1, 2: 'two'}

In [252]:
letters = {}   # letter: [letter...]
s = 'This is a good string to start with'
for letter in s:
    # if letter in letters:
    #     letters[letter] = []
    lst = letters.get(letter, [])
    lst.append(letter)
    letters[letter] = lst
letters

{'T': ['T'],
 'h': ['h', 'h'],
 'i': ['i', 'i', 'i', 'i'],
 's': ['s', 's', 's', 's'],
 ' ': [' ', ' ', ' ', ' ', ' ', ' ', ' '],
 'a': ['a', 'a'],
 'g': ['g', 'g'],
 'o': ['o', 'o', 'o'],
 'd': ['d'],
 't': ['t', 't', 't', 't', 't'],
 'r': ['r', 'r'],
 'n': ['n'],
 'w': ['w']}

In [253]:
dct

{'one': 1, 2: 'two'}

In [255]:
dct.get('four', [])

[]

In [256]:
dct

{'one': 1, 2: 'two'}

In [257]:
dct.setdefault('four', [])

[]

In [258]:
dct

{'one': 1, 2: 'two', 'four': []}

In [259]:
letters = {}   # letter: [letter...]
s = 'This is a good string to start with'
for letter in s:
    lst = letters.setdefault(letter, [])
    lst.append(letter)
    # no need to assign letters[letter] here
letters

{'T': ['T'],
 'h': ['h', 'h'],
 'i': ['i', 'i', 'i', 'i'],
 's': ['s', 's', 's', 's'],
 ' ': [' ', ' ', ' ', ' ', ' ', ' ', ' '],
 'a': ['a', 'a'],
 'g': ['g', 'g'],
 'o': ['o', 'o', 'o'],
 'd': ['d'],
 't': ['t', 't', 't', 't', 't'],
 'r': ['r', 'r'],
 'n': ['n'],
 'w': ['w']}

# Summary of collections


| Type  | Mutable | Ordered   | Membership test |
|-------|---------|-----------|-----------------|
| str   | no      | yes       | O(n)            |
| list  | yes     | yes       | O(n)            |
| tuple | no      | yes       | O(n)            |
| set   | yes     | no        | O(1)            |
| dict  | yes     | mostly no | O(1) (for keys) |


- list.append is amortized O(1)  (on average, O(1), but worst-case could take up to O(n))
- adding to dict, set amortized O(1)

## Length 

Python collections have a length which is accessed via the `len` builtin function:

In [264]:
x = 'some string'
len(x)

11

In [265]:
len(lst)

2

In [266]:
len(tup)

2

In [267]:
len(dct)

3

In [268]:
len(evens)

4

## "Truthiness" in Python

When using `while`, `if`, and `elif`, or the boolean operators `and`, `or`, and `not`, Python converts expressions to boolean types. If a value is converted to `True`, we say that value is "truthy," otherwise it is "falsey".

Most values are truthy. Falsey values are:

- `False`
- `None`
- `0`, `0.0`, `-0.0`, `0j`
- `''`
- empty collections (where len(value) == 0)
- User-defined types ("classes") can use custom behavior (but don't worry about this yet)

In [269]:
id(None), bool(None)

(4379631472, False)

In [270]:
id(0), bool(0)

(4379774160, False)

In [271]:
x = ''
if x:
    print('truthy')
else:
    print('falsey')

falsey

In [272]:
bool(-0.0), bool(1)

(False, True)

In [273]:
bool(float('nan'))

True

## Calling Python functions

Python functions are called using the "call operator" (parentheses):

In [277]:
# function name (no call happens)
print

In [278]:
# function call (no arguments)
print()

In [279]:
# function call (with arguments)
print(1, 2, 3)

1 2 3

Functions arguments can be passed *positionally* (as above) or *by name* (sometimes called 'keyword arguments):

In [280]:
print(1, 2, 3, sep='-', end='<<EOL>>')

1-2-3<<EOL>>

## Defining Python functions

The `def` keyword is used to create a Python function:

In [281]:
def greet(name):
    print('Hello there,', name)

In [282]:
cabbage = 'Rick'
greet(cabbage)
# greet('Rick')

Hello there, Rick

In [283]:
greet('class')

Hello there, class

In [284]:
def menu(appetizer, entree, dessert):
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)

In [285]:
menu('samosas', 'palak paneer', 'gulab jamun')

Your menu:
For an appetizer, samosas
For your entree, palak paneer
For dessert, gulab jamun

In [286]:
# Keyword arguments may be called in any order
menu(
    dessert='gulab jamun',
    appetizer='samosas', 
    entree='palak paneer', 
)

Your menu:
For an appetizer, samosas
For your entree, palak paneer
For dessert, gulab jamun

Functions can have *default arguments* defined:

In [287]:
def menu(appetizer, entree, dessert='Mysore pak'):
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)

In [288]:
menu('samosas', 'biryani')

Your menu:
For an appetizer, samosas
For your entree, biryani
For dessert, Mysore pak

### Potential pitfall: mutable default arguments

In [301]:
def menu(appetizer, entree, dessert='Mysore pak', extras=[]):
#     if extras is None:
#         extras = []
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)
    extras.append('foo')
    for e in extras:
        print('Extra: ', e)

In [302]:
menu('samosas', 'curry')

Your menu:
For an appetizer, samosas
For your entree, curry
For dessert, Mysore pak
Extra:  foo

In [303]:
menu('samosas', 'curry')

Your menu:
For an appetizer, samosas
For your entree, curry
For dessert, Mysore pak
Extra:  foo
Extra:  foo

In [298]:
default_value = []
def menu(appetizer, entree, dessert='Mysore pak', extras=default_value):
    if extras is None:
        extras = []
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)
    extras.append('foo')
    for e in extras:
        print('Extra: ', e)

In [299]:
menu('samosas', 'curry')
menu('samosas', 'curry')

Your menu:
For an appetizer, samosas
For your entree, curry
For dessert, Mysore pak
Extra:  foo
Your menu:
For an appetizer, samosas
For your entree, curry
For dessert, Mysore pak
Extra:  foo
Extra:  foo

In [300]:
default_value

['foo', 'foo']

If you have a `tuple` or `list` of arguments, these can be 'unpacked' when calling a function using the `*` operator:

In [304]:
def menu(appetizer, entree, dessert='Mysore pak'):
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)

In [305]:
lst = ['samosas', 'biryani', 'gulab jamun']
menu(lst[0], lst[1], lst[2])

Your menu:
For an appetizer, samosas
For your entree, biryani
For dessert, gulab jamun

In [307]:
menu(*lst)

Your menu:
For an appetizer, samosas
For your entree, biryani
For dessert, gulab jamun

If you have a `dict` of arguments, these can be 'unpacked' using the `**` operator:

In [308]:
dct = {
    'appetizer': 'pakoda',
    'entree': 'palak paneer',
    'dessert': 'gulab jamun',
}
menu(
    appetizer=dct['appetizer'],
    entree=dct['entree'],
    dessert=dct['dessert'],
)

Your menu:
For an appetizer, pakoda
For your entree, palak paneer
For dessert, gulab jamun

In [309]:
menu(**dct)

Your menu:
For an appetizer, pakoda
For your entree, palak paneer
For dessert, gulab jamun

You can *define* a function which takes variable arguments (or keyword arguments) similarly:

In [310]:
def print_invitations(*attendees):
    print('The following people are invited:')
    for a in attendees:
        print('-', a)

In [312]:
print_invitations('Rick', 'Kirby', 'Matthew')

The following people are invited:
- Rick
- Kirby
- Matthew

In [313]:
lst = ['Rick', 'Kirby', 'Matthew']
print_invitations(*lst)

The following people are invited:
- Rick
- Kirby
- Matthew

In [314]:
def print_invitations(*attendees, **credits):
    """also sometimes *args, **kwargs"""
    print('The following people are invited:')
    for a in attendees:
        print('-', a)
    print('Thanks to the following people:')
    for role, name in credits.items():
        print('- to', name, 'for', role)

In [315]:
print_invitations('Rick', 'Kirby', 'Sheetal', cooking='Matthew', entertainment='Anna')

The following people are invited:
- Rick
- Kirby
- Sheetal
Thanks to the following people:
- to Matthew for cooking
- to Anna for entertainment

In [316]:
attendees = ['Rick', 'Kirby']
credits = {'cooking': 'Matthew', 'entertainment': 'Anna'}
print_invitations(*attendees, **credits)  # (*args, **kwargs)

The following people are invited:
- Rick
- Kirby
Thanks to the following people:
- to Matthew for cooking
- to Anna for entertainment

In [317]:
lst = list(range(10))

In [318]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [319]:
first, second, third, fourth, *rest, last = lst

In [320]:
first

0

In [322]:
rest

[4, 5, 6, 7, 8]

In [321]:
last

9

In [323]:
def divmod(a, b):
    quot = a // b
    rem = a % b
    return quot, rem

In [324]:
divmod(37, 4)

(9, 1)

In [325]:
q, r = divmod(37, 4)

In [326]:
q

9

In [327]:
r

1

In [328]:
dct1 = {'a': 1, 'b': 2}
dct2 = {'b': 3, 'c': 4}

In [329]:
dct3 = dict(dct1)
dct3.update(dct2)
dct3

{'a': 1, 'b': 3, 'c': 4}

In [330]:
dct3 = {
    **dct1, 
    **dct2,
}
dct3

{'a': 1, 'b': 3, 'c': 4}

In [331]:
lst = [*'abc', *'def']

In [332]:
lst

['a', 'b', 'c', 'd', 'e', 'f']

# Exceptions

In [333]:
1 / 0

ZeroDivisionError: division by zero

In [334]:
try:
    1 / 0
    print('Does not execute')
except ZeroDivisionError:
    print('You tried to divide by zero!')

You tried to divide by zero!

In [335]:
try:
    1 / 0
except ZeroDivisionError:
    print('You tried to divide by zero!')
    raise

You tried to divide by zero!

ZeroDivisionError: division by zero

In [336]:
def some_function():
    try:
        5 / 0
    except ValueError:
        print('You raised a valueError!')
    
try:
    some_function()
except ZeroDivisionError:
    print('Handle Error!')

Handle Error!

Core exception types

- `Exception` is the base of *most* built-in exceptions
- `BaseException` is the base of *all* built-in exceptions

`BaseException` -> `Exception` -> (`*Error`)

In [337]:
[x for x in dir(__builtins__) if x.endswith('Error')]

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'EOFError',
 'EnvironmentError',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'IOError',
 'ImportError',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'NotADirectoryError',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'RuntimeError',
 'SyntaxError',
 'SystemError',
 'TabError',
 'TimeoutError',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'ValueError',
 'ZeroDivisionError']

In [338]:
issubclass(KeyError, LookupError)   # A[x]

True

In [339]:
def withdraw(balance, amount):
    if amount < 0:
        raise ValueError('Amount must be positive!')
    else:
        return balance - amount

In [340]:
withdraw(100, 10)

90

In [341]:
withdraw(100, -10)

ValueError: Amount must be positive!

In [351]:
try:
    withdraw(100, -10)
    # something else
except KeyError:
    print("Probably won't happen")
except ValueError as err:
    print('Sorry!', err)
except (NameError, IndexError) as err:
    print('Either name or index error', err)
except Exception: 
    print('Do something')
except:
    print('Some unhandled exception')
    raise                # re-raise current exception
else:
    # something else
    print('All good!')
finally:
    print('Finally!')

Sorry! Amount must be positive!
Finally!

In [ ]:
issubclass(KeyError, (NameError, LookupError, IndexError))

# Lab

Open the [Core Syntax Lab][core-syntax-lab]

[core-syntax-lab]: ./core-syntax-lab.ipynb