# Pandas: the Python structured data library

Pandas (allegedly) stands for **Pan**el **da**ta (**s**?) and lets you manipulate 'spreadsheet-like' data in Python easily

In [1]:
!pip install pandas

Looking in links: /Users/rick446/src/wheelhouse
Requirement already satisfied: pandas in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (1.1.0)
Requirement already satisfied: numpy>=1.15.4 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

## Series: kind of like a `list` and `dict` put together

In [6]:
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [7]:
import numpy as np

s = pd.Series([1,2,3], dtype=np.int8)
s

0    1
1    2
2    3
dtype: int8

In [8]:
s[1] = 3.14
s

0    1
1    3
2    3
dtype: int8

In [9]:
'a b c'.split()

['a', 'b', 'c']

In [10]:
s = pd.Series([1,2,3], index='a b c'.split())
s

a    1
b    2
c    3
dtype: int64

In [11]:
s[0]

1

In [12]:
s['a']

1

## DataFrame -- the main data type

In [13]:
df = pd.DataFrame(
    [
        [1,2,3],
        [4,5,6],
        [7,8,9],
        [7,8,9],
    ],
    columns='a b c'.split(),
    index='x y z w'.split()
)
df

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9
w  7  8  9

In [14]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [15]:
df.index

Index(['x', 'y', 'z', 'w'], dtype='object')

In [20]:
df['a']

x    1
y    4
z    7
w    7
Name: a, dtype: int64

Multiple columns

In [21]:
cola = pd.Series([1, 4, 7], name='a')
colb = pd.Series([2, 5, 8], name='b')
colc = pd.Series([3, 6, 9], name='c')
pd.DataFrame({'a': cola, 'b': colb, 'c': colc})

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
df

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9
w  7  8  9

In [23]:
cols = ['a', 'b', 'b']
df_test = df[cols]
df_test

   a  b  b
x  1  2  2
y  4  5  5
z  7  8  8
w  7  8  8

Indexing ambiguity

In [25]:
s = pd.Series([1,2,3], index=[1,2,3])
s

1    1
2    2
3    3
dtype: int64

In [26]:
s[1]  # label/index value

1

In [27]:
s[1:3]  # position/offset

2    2
3    3
dtype: int64

# Indexing using .loc, .iloc

In [28]:
df

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9
w  7  8  9

In [29]:
df['a']

x    1
y    4
z    7
w    7
Name: a, dtype: int64

In [30]:
df.loc['x']

a    1
b    2
c    3
Name: x, dtype: int64

In [31]:
df.iloc[0]

a    1
b    2
c    3
Name: x, dtype: int64

In [32]:
df.loc['x', 'a']

1

In [33]:
df.loc['x', :]  # retrieve all columns

a    1
b    2
c    3
Name: x, dtype: int64

In [34]:
df.loc[:, 'a']  # retrieve all rows

x    1
y    4
z    7
w    7
Name: a, dtype: int64

In [35]:
df.loc['x':'y']   # includes both endpoints (df.loc[x] and df.loc[y])

   a  b  c
x  1  2  3
y  4  5  6

In [36]:
df.iloc[0:2]     # excludes the right endpoint (df.iloc[2])

   a  b  c
x  1  2  3
y  4  5  6

In [39]:
df.info() # memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, x to w
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
dtypes: int64(3)
memory usage: 288.0+ bytes

In [40]:
df.loc['x', 'b'] = 200

In [41]:
df

   a    b  c
x  1  200  3
y  4    5  6
z  7    8  9
w  7    8  9

In [42]:
df['a']

x    1
y    4
z    7
w    7
Name: a, dtype: int64

In [43]:
df2 = df[['a']]
df2

   a
x  1
y  4
z  7
w  7

In [44]:
df2.shape

(4, 1)

In [47]:
df['a']

x    1
y    4
z    7
w    7
Name: a, dtype: int64

In [48]:
df['a'].shape

(4,)

# Reading CSV data

Most of the time, we *won't* be building `DataFrame`s out of the basic constructor, but rather using one of the readers built in to Pandas. One of these is `read_csv`:

In [50]:
df = pd.read_csv('./data/closing-prices.csv')
df.head() # Only show the first few rows

   Unnamed: 0        F    TSLA  GOOG       IBM     AAPL
0  2014-01-02  12.0890  150.10   NaN  157.6001  72.7741
1  2014-01-03  12.1438  149.56   NaN  158.5430  71.1756
2  2014-01-06  12.1986  147.00   NaN  157.9993  71.5637
3  2014-01-07  12.0420  149.36   NaN  161.1508  71.0516
4  2014-01-08  12.1673  151.28   NaN  159.6728  71.5019

In [53]:
!head data/closing-prices.csv

,F,TSLA,GOOG,IBM,AAPL
2014-01-02,12.089,150.1,,157.6001,72.7741
2014-01-03,12.1438,149.56,,158.543,71.1756
2014-01-06,12.1986,147.0,,157.9993,71.5637
2014-01-07,12.042,149.36,,161.1508,71.0516
2014-01-08,12.1673,151.28,,159.6728,71.5019
2014-01-09,12.4022,147.53,,159.1716,70.5887
2014-01-10,12.5822,145.7199,,159.0696,70.1178
2014-01-13,12.6136,139.34,,156.4363,70.4849
2014-01-14,12.8406,161.27,,157.9314,71.8874

The CSV reader is pretty good about inferring types, but not perfect. We can check lots of things about the structure of a `DataFrame` with the `.info()` method:

In [57]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1007 non-null   object
 1   F           1007 non-null   float64
 2   TSLA        1007 non-null   float64
 3   GOOG        949 non-null    float64
 4   IBM         1007 non-null   float64
 5   AAPL        1007 non-null   float64
dtypes: float64(5), object(1)
memory usage: 105.3 KB

In [58]:
float('nan')

nan

In [59]:
np.nan == np.nan

False

In [60]:
np.nan is np.nan

True

In [55]:
!ls -lh ./data/closing-prices.csv

-rw-r--r--  1 rick446  staff    49K Feb 26  2019 ./data/closing-prices.csv

In [61]:
import csv
with open('./data/closing-prices.csv') as f:
    rows = list(csv.reader(f))

In [62]:
len(rows)

1008

In [63]:
rows[:5]

[['', 'F', 'TSLA', 'GOOG', 'IBM', 'AAPL'],
 ['2014-01-02', '12.089', '150.1', '', '157.6001', '72.7741'],
 ['2014-01-03', '12.1438', '149.56', '', '158.543', '71.1756'],
 ['2014-01-06', '12.1986', '147.0', '', '157.9993', '71.5637'],
 ['2014-01-07', '12.042', '149.36', '', '161.1508', '71.0516']]

In [64]:
!pip install pympler

Looking in links: /Users/rick446/src/wheelhouse
Requirement already satisfied: pympler in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (0.8)

In [65]:
import pympler

In [66]:
import pympler.asizeof

In [67]:
pympler.asizeof.asizeof(rows)

485176

The first column was read in as an `object` (meaning Pandas couldn't be more specific about its type, usually what happens with string data). Let's tell Pandas that column is a date:

In [68]:
pd.to_datetime(df['Unnamed: 0'])

0      2014-01-02
1      2014-01-03
2      2014-01-06
3      2014-01-07
4      2014-01-08
          ...
1002   2017-12-22
1003   2017-12-26
1004   2017-12-27
1005   2017-12-28
1006   2017-12-29
Name: Unnamed: 0, Length: 1007, dtype: datetime64[ns]

In [69]:
df['Unnamed: 0'] = pd.to_datetime(df['Unnamed: 0'])
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1007 non-null   datetime64[ns]
 1   F           1007 non-null   float64
 2   TSLA        1007 non-null   float64
 3   GOOG        949 non-null    float64
 4   IBM         1007 non-null   float64
 5   AAPL        1007 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 47.3 KB

We can also parse datetimes during the import:

In [72]:
df = pd.read_csv('./data/closing-prices.csv', parse_dates=[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1007 non-null   datetime64[ns]
 1   F           1007 non-null   float64
 2   TSLA        1007 non-null   float64
 3   GOOG        949 non-null    float64
 4   IBM         1007 non-null   float64
 5   AAPL        1007 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 47.3 KB

In [73]:
ls -lh ./data/closing-prices.csv

-rw-r--r--  1 rick446  staff    49K Feb 26  2019 ./data/closing-prices.csv

In [74]:
df.iloc[:5]

  Unnamed: 0        F    TSLA  GOOG       IBM     AAPL
0 2014-01-02  12.0890  150.10   NaN  157.6001  72.7741
1 2014-01-03  12.1438  149.56   NaN  158.5430  71.1756
2 2014-01-06  12.1986  147.00   NaN  157.9993  71.5637
3 2014-01-07  12.0420  149.36   NaN  161.1508  71.0516
4 2014-01-08  12.1673  151.28   NaN  159.6728  71.5019

In [75]:
df.tail()

     Unnamed: 0        F    TSLA     GOOG       IBM      AAPL
1002 2017-12-22  11.9489  325.20  1060.12  147.7588  173.0230
1003 2017-12-26  11.9679  317.29  1056.74  148.0786  168.6334
1004 2017-12-27  11.8729  311.64  1049.37  148.3693  168.6630
1005 2017-12-28  11.9489  315.36  1048.14  149.2510  169.1376
1006 2017-12-29  11.8634  311.35  1046.40  148.6502  167.3086

We can set the index of the dataframe as well:

In [76]:
df = df.set_index('Unnamed: 0')  # also df.set_index('Unnamed: 0', inplace=True)
df.head()

                  F    TSLA  GOOG       IBM     AAPL
Unnamed: 0
2014-01-02  12.0890  150.10   NaN  157.6001  72.7741
2014-01-03  12.1438  149.56   NaN  158.5430  71.1756
2014-01-06  12.1986  147.00   NaN  157.9993  71.5637
2014-01-07  12.0420  149.36   NaN  161.1508  71.0516
2014-01-08  12.1673  151.28   NaN  159.6728  71.5019

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1007 entries, 2014-01-02 to 2017-12-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F       1007 non-null   float64
 1   TSLA    1007 non-null   float64
 2   GOOG    949 non-null    float64
 3   IBM     1007 non-null   float64
 4   AAPL    1007 non-null   float64
dtypes: float64(5)
memory usage: 47.2 KB

Its even better if we do it when we read in the frame:

In [78]:
df = pd.read_csv('./data/closing-prices.csv', index_col=0, parse_dates=[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1007 entries, 2014-01-02 to 2017-12-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F       1007 non-null   float64
 1   TSLA    1007 non-null   float64
 2   GOOG    949 non-null    float64
 3   IBM     1007 non-null   float64
 4   AAPL    1007 non-null   float64
dtypes: float64(5)
memory usage: 47.2 KB

In [79]:
df.head()

                  F    TSLA  GOOG       IBM     AAPL
2014-01-02  12.0890  150.10   NaN  157.6001  72.7741
2014-01-03  12.1438  149.56   NaN  158.5430  71.1756
2014-01-06  12.1986  147.00   NaN  157.9993  71.5637
2014-01-07  12.0420  149.36   NaN  161.1508  71.0516
2014-01-08  12.1673  151.28   NaN  159.6728  71.5019

In [80]:
!cp ./data/closing-prices.csv ./data/closing-prices-2.csv
!gzip -f ./data/closing-prices-2.csv

In [81]:
!ls -lh ./data/closing-prices-2.csv.gz

-rw-r--r--  1 rick446  staff    20K Sep 25 14:42 ./data/closing-prices-2.csv.gz

In [83]:
df = pd.read_csv(
    './data/closing-prices-2.csv.gz', 
    index_col=0, 
    parse_dates=[0], 
    dtype=np.float16,
)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1007 entries, 2014-01-02 to 2017-12-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F       1007 non-null   float16
 1   TSLA    1007 non-null   float16
 2   GOOG    949 non-null    float16
 3   IBM     1007 non-null   float16
 4   AAPL    1007 non-null   float16
dtypes: float16(5)
memory usage: 17.7 KB

(If you install s3fs, you can even read CSVs from s3://.....csv.gz urls!)

## Reading from external APIs

There are some data sources for market data available in the pandas_datareader package:

In [84]:
!pip install pandas_datareader

Looking in links: /Users/rick446/src/wheelhouse
Requirement already satisfied: pandas_datareader in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: pandas>=0.23 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas_datareader) (1.1.0)
Requirement already satisfied: lxml in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas_datareader) (4.5.2)
Requirement already satisfied: idna<3,>=2.5 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.19.2)
Requirement already satisfied: six>=1.5 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)

In [85]:
from datetime import datetime

import pandas_datareader.data as web

start, end = datetime(2014, 1, 1), datetime(2018, 1, 1)
data = web.DataReader(
    ['F', 'TSLA', 'GOOG', 'IBM', 'AAPL', 'CRM'], 
    'yahoo', start, end,
)
data.head()

Attributes  Adj Close                                                \
Symbols             F       TSLA        GOOG         IBM       AAPL
Date
2014-01-02  11.368886  30.020000  554.481689  140.697495  17.655001
2014-01-03  11.420427  29.912001  550.436829  141.539261  17.267195
2014-01-06  11.471969  29.400000  556.573853  141.053940  17.361351
2014-01-07  11.324705  29.872000  567.303589  143.867477  17.237186
2014-01-08  11.442515  30.256001  568.484192  142.547913  17.346355

Attributes             Close                                     ...  \
Symbols           CRM      F       TSLA        GOOG         IBM  ...
Date                                                             ...
2014-01-02  54.860001  15.44  30.020000  554.481689  185.529999  ...
2014-01-03  55.119999  15.51  29.912001  550.436829  186.639999  ...
2014-01-06  54.230000  15.58  29.400000  556.573853  186.000000  ...
2014-01-07  54.950001  15.38  29.872000  567.303589  189.710007  ...
2014-01-08  56.939999  15.54  30.256001  568.484192  187.970001  ...

Attributes        Open                                        Volume  \
Symbols           GOOG         IBM       AAPL        CRM           F
Date
2014-01-02  555.647278  187.210007  19.845715  55.200001  31528500.0
2014-01-03  555.418152  185.830002  19.745001  54.930000  46122300.0
2014-01-06  554.426880  187.149994  19.194643  55.200001  42657600.0
2014-01-07  560.399475  186.389999  19.440001  54.430000  54476300.0
2014-01-08  570.860291  189.330002  19.243214  55.189999  48448300.0

Attributes
Symbols           TSLA       GOOG        IBM         AAPL        CRM
Date
2014-01-02  30942000.0  3656400.0  4546500.0  234684800.0  2730200.0
2014-01-03  23475000.0  3345800.0  4063200.0  392467600.0  1968700.0
2014-01-06  26805500.0  3551800.0  4067800.0  412610800.0  2532700.0
2014-01-07  25170500.0  5124300.0  5932300.0  317209200.0  2787200.0
2014-01-08  30816000.0  4501700.0  4603700.0  258529600.0  7036900.0

[5 rows x 36 columns]

In [86]:
data['Close'].head()

Symbols         F       TSLA        GOOG         IBM       AAPL        CRM
Date
2014-01-02  15.44  30.020000  554.481689  185.529999  19.754642  54.860001
2014-01-03  15.51  29.912001  550.436829  186.639999  19.320715  55.119999
2014-01-06  15.58  29.400000  556.573853  186.000000  19.426071  54.230000
2014-01-07  15.38  29.872000  567.303589  189.710007  19.287144  54.950001
2014-01-08  15.54  30.256001  568.484192  187.970001  19.409286  56.939999

In [87]:
data.loc[:, ('Close', "CRM")]

Date
2014-01-02     54.860001
2014-01-03     55.119999
2014-01-06     54.230000
2014-01-07     54.950001
2014-01-08     56.939999
                 ...
2017-12-22    102.629997
2017-12-26    102.540001
2017-12-27    102.650002
2017-12-28    102.790001
2017-12-29    102.230003
Name: (Close, CRM), Length: 1007, dtype: float64

In [88]:
data.columns

MultiIndex([('Adj Close',    'F'),
            ('Adj Close', 'TSLA'),
            ('Adj Close', 'GOOG'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'AAPL'),
            ('Adj Close',  'CRM'),
            (    'Close',    'F'),
            (    'Close', 'TSLA'),
            (    'Close', 'GOOG'),
            (    'Close',  'IBM'),
            (    'Close', 'AAPL'),
            (    'Close',  'CRM'),
            (     'High',    'F'),
            (     'High', 'TSLA'),
            (     'High', 'GOOG'),
            (     'High',  'IBM'),
            (     'High', 'AAPL'),
            (     'High',  'CRM'),
            (      'Low',    'F'),
            (      'Low', 'TSLA'),
            (      'Low', 'GOOG'),
            (      'Low',  'IBM'),
            (      'Low', 'AAPL'),
            (      'Low',  'CRM'),
            (     'Open',    'F'),
            (     'Open', 'TSLA'),
            (     'Open', 'GOOG'),
            (     'Open',  'IBM'),
            (     'Open', 'AAPL'),
            (     'Open',  'CRM'),
            (   'Volume',    'F'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'GOOG'),
            (   'Volume',  'IBM'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'CRM')],
           names=['Attributes', 'Symbols'])

In [89]:
data.columns.levels

FrozenList([['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], ['F', 'TSLA', 'GOOG', 'IBM', 'AAPL', 'CRM']])

In [90]:
dfs = {
    attr: data[attr]
    for attr in data.columns.levels[0]
}

In [91]:
dfs['Volume'].head()

Symbols,F,TSLA,GOOG,IBM,AAPL,CRM
Date,,,,,,
2014-01-02,31528500.0,30942000.0,3656400.0,4546500.0,234684800.0,2730200.0
2014-01-03,46122300.0,23475000.0,3345800.0,4063200.0,392467600.0,1968700.0
2014-01-06,42657600.0,26805500.0,3551800.0,4067800.0,412610800.0,2532700.0
2014-01-07,54476300.0,25170500.0,5124300.0,5932300.0,317209200.0,2787200.0
2014-01-08,48448300.0,30816000.0,4501700.0,4603700.0,258529600.0,7036900.0

In [92]:
data.columns = data.columns.swaplevel()
data.head()

Symbols,F,TSLA,GOOG,IBM,AAPL,CRM,F,TSLA,GOOG,IBM,...,GOOG,IBM,AAPL,CRM,F,TSLA,GOOG,IBM,AAPL,CRM
Attributes,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Close,Close,Close,Close,...,Open,Open,Open,Open,Volume,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,11.368886,30.020000,554.481689,140.697495,17.655001,54.860001,15.44,30.020000,554.481689,185.529999,...,555.647278,187.210007,19.845715,55.200001,31528500.0,30942000.0,3656400.0,4546500.0,234684800.0,2730200.0
2014-01-03,11.420427,29.912001,550.436829,141.539261,17.267195,55.119999,15.51,29.912001,550.436829,186.639999,...,555.418152,185.830002,19.745001,54.930000,46122300.0,23475000.0,3345800.0,4063200.0,392467600.0,1968700.0
2014-01-06,11.471969,29.400000,556.573853,141.053940,17.361351,54.230000,15.58,29.400000,556.573853,186.000000,...,554.426880,187.149994,19.194643,55.200001,42657600.0,26805500.0,3551800.0,4067800.0,412610800.0,2532700.0
2014-01-07,11.324705,29.872000,567.303589,143.867477,17.237186,54.950001,15.38,29.872000,567.303589,189.710007,...,560.399475,186.389999,19.440001,54.430000,54476300.0,25170500.0,5124300.0,5932300.0,317209200.0,2787200.0
2014-01-08,11.442515,30.256001,568.484192,142.547913,17.346355,56.939999,15.54,30.256001,568.484192,187.970001,...,570.860291,189.330002,19.243214,55.189999,48448300.0,30816000.0,4501700.0,4603700.0,258529600.0,7036900.0

In [93]:
data['CRM'].head()

Attributes  Adj Close      Close       High        Low       Open     Volume
Date
2014-01-02  54.860001  54.860001  55.209999  54.410000  55.200001  2730200.0
2014-01-03  55.119999  55.119999  55.389999  54.520000  54.930000  1968700.0
2014-01-06  54.230000  54.230000  55.240002  54.029999  55.200001  2532700.0
2014-01-07  54.950001  54.950001  55.119999  54.290001  54.430000  2787200.0
2014-01-08  56.939999  56.939999  57.130001  54.759998  55.189999  7036900.0

## Writing Excel data

We can write a multi-page Excel file using an ExcelWriter:

In [94]:
!pip install xlrd xlwt openpyxl

Looking in links: /Users/rick446/src/wheelhouse
Requirement already satisfied: xlrd in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (1.2.0)
Requirement already satisfied: xlwt in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (1.3.0)
Requirement already satisfied: openpyxl in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (3.0.5)
Requirement already satisfied: jdcal in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from openpyxl) (1.0.1)

In normal python to write a file you might say:

```python
with open(filename, 'w') as fp:
    fp.write(some_data)
```

In [95]:
with pd.ExcelWriter('./data/stocks.xlsx') as writer:
    for name, sheet in dfs.items():
        sheet.to_excel(writer, name)

In [96]:
!open data/stocks.xlsx

## Reading Excel data

We can also read a sheet from an Excel workbook:

In [97]:
closing = pd.read_excel('./data/stocks.xlsx', 'Close', index_col='Date')
closing.head()

                F       TSLA        GOOG         IBM       AAPL        CRM
Date
2014-01-02  15.44  30.020000  554.481689  185.529999  19.754642  54.860001
2014-01-03  15.51  29.912001  550.436829  186.639999  19.320715  55.119999
2014-01-06  15.58  29.400000  556.573853  186.000000  19.426071  54.230000
2014-01-07  15.38  29.872000  567.303589  189.710007  19.287144  54.950001
2014-01-08  15.54  30.256001  568.484192  187.970001  19.409286  56.939999

In [98]:
closing.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1007 entries, 2014-01-02 to 2017-12-29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F       1007 non-null   float64
 1   TSLA    1007 non-null   float64
 2   GOOG    1007 non-null   float64
 3   IBM     1007 non-null   float64
 4   AAPL    1007 non-null   float64
 5   CRM     1007 non-null   float64
dtypes: float64(6)
memory usage: 55.1 KB

## Data from SQL

In [99]:
import pandas as pd
import sqlite3
con = sqlite3.connect('./data/real-estate.db')

In [100]:
transactions = pd.read_sql(
    'SELECT * FROM transactions', con, 
    index_col='index', 
    parse_dates=['sale_date'],
)
transactions.head()

/Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages/dateutil/parser/_parser.py:1213: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
index,,,,,,,,,,,,
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,2008-05-21,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,2008-05-21,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,2008-05-21,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,2008-05-21,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,2008-05-21,81900,38.519470,-121.435768

We can even build a quick little bulk load function in a couple of lines of pandas:

In [101]:
stock = pd.read_csv('./data/closing-prices.csv', index_col=[0], parse_dates=True)
stock.to_sql('stock', con, if_exists='replace')

In [102]:
for row in con.execute('select * from stock limit 5'):
    print(row)

('2014-01-02 00:00:00', 12.089, 150.1, None, 157.6001, 72.7741)
('2014-01-03 00:00:00', 12.1438, 149.56, None, 158.543, 71.1756)
('2014-01-06 00:00:00', 12.1986, 147.0, None, 157.9993, 71.5637)
('2014-01-07 00:00:00', 12.042, 149.36, None, 161.1508, 71.0516)
('2014-01-08 00:00:00', 12.1673, 151.28, None, 159.6728, 71.5019)

In [103]:
con.execute('select count(*) from stock').fetchall()

[(1007,)]

(for non-sqlite3 databases, you must use a sqlalchemy engine object and the `sqlalchemy.create_engine` function)

## Data from HTML

In [104]:
!pip install html5lib

Looking in links: /Users/rick446/src/wheelhouse
Requirement already satisfied: html5lib in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from html5lib) (0.5.1)

In [105]:
tables = pd.read_html(
    'https://en.wikipedia.org/wiki/Python_(genus)',
)

In [106]:
len(tables)

7

In [107]:
tables[0]

,Python,Python.1
0,NaN,NaN
1,Burmese python (Python bivittatus),Burmese python (Python bivittatus)
2,Scientific classification,Scientific classification
3,Kingdom:,Animalia
4,Phylum:,Chordata
5,Class:,Reptilia
6,Order:,Squamata
7,Suborder:,Serpentes
8,Family:,Pythonidae
9,Genus:,"PythonDaudin, 1803"
10,Synonyms,Synonyms
11,"List Python Daudin, 1803Constrictor Wagler, 18...","List Python Daudin, 1803Constrictor Wagler, 18..."

In [108]:
tables = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population',
    match='New York'
)
len(tables)

2

In [109]:
tables[0]

,2019rank,City,State[c],2019estimate,2010Census,Change,2016 land area,2016 land area.1,2016 population density,2016 population density.1,Location
0,1,New York[d],New York,8336817,8175133,+1.98%,301.5sqmi,780.9km2,"28,317/sqmi","10,933/km2",403949N 735619W / 40.6635N 73.9387W
1,2,Los Angeles,California,3979576,3792621,+4.93%,468.7sqmi,"1,213.9km2","8,484/sqmi","3,276/km2",340110N 1182439W / 34.0194N 118.4108W
2,3,Chicago,Illinois,2693976,2695598,0.06%,227.3sqmi,588.7km2,"11,900/sqmi","4,600/km2",415015N 874054W / 41.8376N 87.6818W
3,4,Houston[3],Texas,2320268,2100263,+10.48%,637.5sqmi,"1,651.1km2","3,613/sqmi","1,395/km2",294712N 952327W / 29.7866N 95.3909W
4,5,Phoenix,Arizona,1680992,1445632,+16.28%,517.6sqmi,"1,340.6km2","3,120/sqmi","1,200/km2",333420N 1120524W / 33.5722N 112.0901W
...,...,...,...,...,...,...,...,...,...,...,...
312,313,San Angelo,Texas,101004,93200,+8.37%,59.9sqmi,155.1km2,"1,681/sqmi",649/km2,312628N 1002702W / 31.4411N 100.4505W
313,314,Vacaville,California,100670,92428,+8.92%,29.0sqmi,75.1km2,"3,449/sqmi","1,332/km2",382114N 1215822W / 38.3539N 121.9728W
314,315,Clinton[ae],Michigan,100471,96796,+3.80%,28.1sqmi,72.8km2,"3,573/sqmi","1,380/km2",423525N 825501W / 42.5903N 82.9170W
315,316,Bend,Oregon,100421,76639,+31.03%,33.1sqmi,85.7km2,"3,034/sqmi","1,171/km2",440300N 1211800W / 44.0500N 121.3000W
316,317,Woodbridge[ad],New Jersey,100145,99585,+0.56%,23.3sqmi,60.3km2,"4,351/sqmi","1,680/km2",403339N 741734W / 40.5607N 74.2927W

In [110]:
tables[1].head()

,City,State,2019 estimated population,Peak population (year),Numeric decline from peak population,Percent decline from peak population,Notes
0,Albany,New York,96460,"134,995 (1950)","38,535",28.55%,2.30% from 2000 to 2010
1,Allegheny,Pennsylvania,N/A[af],"129,896 (1900)",,,annexed by Pittsburgh in 1907
2,Brooklyn,New York,N/A[ag],"806,343 (1890)",,,consolidated with New York City in 1898
3,Camden,New Jersey,73562,"124,555 (1950)","50,993",40.94%,NaN
4,Canton,Ohio,70447,"116,912 (1950)","46,465",39.74%,NaN

## Data from JSON APIs

In [111]:
!pip install requests

Looking in links: /Users/rick446/src/wheelhouse
Requirement already satisfied: requests in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests) (1.25.10)

In [112]:
import requests

# I don't have any idea who's API key this is, but they're free, so....
APPID = '10d4440bbaa8581bb8da9bd1fbea5617'   
UNITS = 'imperial'
city = 'San Francisco'
resp = requests.get(
    'http://api.openweathermap.org/data/2.5/forecast', 
    params={
        'q': city,
        'units': UNITS,
        'appid': APPID,
    }
)
data = resp.json()

In [113]:
data

{'cod': '200',
 'message': 0,
 'cnt': 40,
 'list': [{'dt': 1601078400,
   'main': {'temp': 66.61,
    'feels_like': 59.02,
    'temp_min': 65.17,
    'temp_max': 66.61,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1014,
    'humidity': 59,
    'temp_kf': 0.8},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 29},
   'wind': {'speed': 14.54, 'deg': 274},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-26 00:00:00'},
  {'dt': 1601089200,
   'main': {'temp': 62.91,
    'feels_like': 59.18,
    'temp_min': 61.5,
    'temp_max': 62.91,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1015,
    'humidity': 74,
    'temp_kf': 0.78},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 9},
   'wind': {'speed': 9.08, 'deg': 281},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-26 03:00:00'},
  {'dt': 1601100000,
   'main': {'temp': 61.97,
    'feels_like': 61.74,
    'temp_min': 61.56,
    'temp_max': 61.97,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 1015,
    'humidity': 78,
    'temp_kf': 0.23},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 3},
   'wind': {'speed': 3.2, 'deg': 246},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-26 06:00:00'},
  {'dt': 1601110800,
   'main': {'temp': 61.21,
    'feels_like': 61.47,
    'temp_min': 61.16,
    'temp_max': 61.21,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 1015,
    'humidity': 84,
    'temp_kf': 0.03},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 3.09, 'deg': 252},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-26 09:00:00'},
  {'dt': 1601121600,
   'main': {'temp': 60.58,
    'feels_like': 62.37,
    'temp_min': 60.58,
    'temp_max': 60.58,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1015,
    'humidity': 87,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 0.56, 'deg': 335},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-26 12:00:00'},
  {'dt': 1601132400,
   'main': {'temp': 61.23,
    'feels_like': 62.47,
    'temp_min': 61.23,
    'temp_max': 61.23,
    'pressure': 1017,
    'sea_level': 1017,
    'grnd_level': 1015,
    'humidity': 84,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 14},
   'wind': {'speed': 1.32, 'deg': 311},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-26 15:00:00'},
  {'dt': 1601143200,
   'main': {'temp': 67.55,
    'feels_like': 66.7,
    'temp_min': 67.55,
    'temp_max': 67.55,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1015,
    'humidity': 69,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 7},
   'wind': {'speed': 5.44, 'deg': 270},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-26 18:00:00'},
  {'dt': 1601154000,
   'main': {'temp': 71.55,
    'feels_like': 66.9,
    'temp_min': 71.55,
    'temp_max': 71.55,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1013,
    'humidity': 60,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 12},
   'wind': {'speed': 12.1, 'deg': 286},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-26 21:00:00'},
  {'dt': 1601164800,
   'main': {'temp': 68.68,
    'feels_like': 63.21,
    'temp_min': 68.68,
    'temp_max': 68.68,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 1012,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 50},
   'wind': {'speed': 12.8, 'deg': 286},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-27 00:00:00'},
  {'dt': 1601175600,
   'main': {'temp': 65.57,
    'feels_like': 65.62,
    'temp_min': 65.57,
    'temp_max': 65.57,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1011,
    'humidity': 67,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 59},
   'wind': {'speed': 2.28, 'deg': 264},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-27 03:00:00'},
  {'dt': 1601186400,
   'main': {'temp': 63.9,
    'feels_like': 64.67,
    'temp_min': 63.9,
    'temp_max': 63.9,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 1011,
    'humidity': 70,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'clouds': {'all': 34},
   'wind': {'speed': 0.78, 'deg': 255},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-27 06:00:00'},
  {'dt': 1601197200,
   'main': {'temp': 63.3,
    'feels_like': 64.2,
    'temp_min': 63.3,
    'temp_max': 63.3,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1011,
    'humidity': 70,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 2},
   'wind': {'speed': 0.25, 'deg': 241},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-27 09:00:00'},
  {'dt': 1601208000,
   'main': {'temp': 62.62,
    'feels_like': 62.71,
    'temp_min': 62.62,
    'temp_max': 62.62,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1010,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 5},
   'wind': {'speed': 1.54, 'deg': 302},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-27 12:00:00'},
  {'dt': 1601218800,
   'main': {'temp': 64.45,
    'feels_like': 64.06,
    'temp_min': 64.45,
    'temp_max': 64.45,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1010,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 3},
   'wind': {'speed': 2.06, 'deg': 113},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-27 15:00:00'},
  {'dt': 1601229600,
   'main': {'temp': 72.43,
    'feels_like': 69.71,
    'temp_min': 72.43,
    'temp_max': 72.43,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1011,
    'humidity': 44,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 1},
   'wind': {'speed': 4.63, 'deg': 70},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-27 18:00:00'},
  {'dt': 1601240400,
   'main': {'temp': 80.29,
    'feels_like': 75.34,
    'temp_min': 80.29,
    'temp_max': 80.29,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1009,
    'humidity': 30,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 7.14, 'deg': 16},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-27 21:00:00'},
  {'dt': 1601251200,
   'main': {'temp': 76.53,
    'feels_like': 71.08,
    'temp_min': 76.53,
    'temp_max': 76.53,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1008,
    'humidity': 37,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 9.04, 'deg': 280},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-28 00:00:00'},
  {'dt': 1601262000,
   'main': {'temp': 69.24,
    'feels_like': 65.77,
    'temp_min': 69.24,
    'temp_max': 69.24,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1008,
    'humidity': 51,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.49, 'deg': 292},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-28 03:00:00'},
  {'dt': 1601272800,
   'main': {'temp': 68.54,
    'feels_like': 67.91,
    'temp_min': 68.54,
    'temp_max': 68.54,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1009,
    'humidity': 52,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.36, 'deg': 230},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-28 06:00:00'},
  {'dt': 1601283600,
   'main': {'temp': 67.98,
    'feels_like': 66.31,
    'temp_min': 67.98,
    'temp_max': 67.98,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1009,
    'humidity': 51,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.73, 'deg': 98},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-28 09:00:00'},
  {'dt': 1601294400,
   'main': {'temp': 69.55,
    'feels_like': 62.53,
    'temp_min': 69.55,
    'temp_max': 69.55,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1009,
    'humidity': 33,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 8.23, 'deg': 56},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-28 12:00:00'},
  {'dt': 1601305200,
   'main': {'temp': 69.31,
    'feels_like': 62.2,
    'temp_min': 69.31,
    'temp_max': 69.31,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1010,
    'humidity': 31,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 7.81, 'deg': 75},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-28 15:00:00'},
  {'dt': 1601316000,
   'main': {'temp': 75.99,
    'feels_like': 70.29,
    'temp_min': 75.99,
    'temp_max': 75.99,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 1012,
    'humidity': 25,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 5.41, 'deg': 61},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-28 18:00:00'},
  {'dt': 1601326800,
   'main': {'temp': 81.57,
    'feels_like': 79.11,
    'temp_min': 81.57,
    'temp_max': 81.57,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1011,
    'humidity': 24,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 0.87, 'deg': 278},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-28 21:00:00'},
  {'dt': 1601337600,
   'main': {'temp': 78.76,
    'feels_like': 72.64,
    'temp_min': 78.76,
    'temp_max': 78.76,
    'pressure': 1012,
    'sea_level': 1012,
    'grnd_level': 1010,
    'humidity': 30,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 8.66, 'deg': 251},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-29 00:00:00'},
  {'dt': 1601348400,
   'main': {'temp': 70.74,
    'feels_like': 66.56,
    'temp_min': 70.74,
    'temp_max': 70.74,
    'pressure': 1013,
    'sea_level': 1013,
    'grnd_level': 1011,
    'humidity': 46,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 7.05, 'deg': 259},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-29 03:00:00'},
  {'dt': 1601359200,
   'main': {'temp': 68.59,
    'feels_like': 66.74,
    'temp_min': 68.59,
    'temp_max': 68.59,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 1013,
    'humidity': 52,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 3.56, 'deg': 263},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-29 06:00:00'},
  {'dt': 1601370000,
   'main': {'temp': 67.12,
    'feels_like': 66.76,
    'temp_min': 67.12,
    'temp_max': 67.12,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 1013,
    'humidity': 56,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.23, 'deg': 276},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-29 09:00:00'},
  {'dt': 1601380800,
   'main': {'temp': 66.63,
    'feels_like': 66.38,
    'temp_min': 66.63,
    'temp_max': 66.63,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 1013,
    'humidity': 55,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 0.56, 'deg': 149},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-29 12:00:00'},
  {'dt': 1601391600,
   'main': {'temp': 67.86,
    'feels_like': 66.38,
    'temp_min': 67.86,
    'temp_max': 67.86,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1014,
    'humidity': 51,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.33, 'deg': 63},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-29 15:00:00'},
  {'dt': 1601402400,
   'main': {'temp': 75.45,
    'feels_like': 73.9,
    'temp_min': 75.45,
    'temp_max': 75.45,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1015,
    'humidity': 35,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 1.03, 'deg': 0},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-29 18:00:00'},
  {'dt': 1601413200,
   'main': {'temp': 77.97,
    'feels_like': 72.9,
    'temp_min': 77.97,
    'temp_max': 77.97,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1014,
    'humidity': 35,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 8.25, 'deg': 259},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-29 21:00:00'},
  {'dt': 1601424000,
   'main': {'temp': 74.46,
    'feels_like': 69.71,
    'temp_min': 74.46,
    'temp_max': 74.46,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 1013,
    'humidity': 42,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 8.5, 'deg': 268},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-30 00:00:00'},
  {'dt': 1601434800,
   'main': {'temp': 68.38,
    'feels_like': 65.25,
    'temp_min': 68.38,
    'temp_max': 68.38,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 1013,
    'humidity': 54,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.24, 'deg': 270},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-30 03:00:00'},
  {'dt': 1601445600,
   'main': {'temp': 66.25,
    'feels_like': 64.38,
    'temp_min': 66.25,
    'temp_max': 66.25,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1014,
    'humidity': 60,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.45, 'deg': 252},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-30 06:00:00'},
  {'dt': 1601456400,
   'main': {'temp': 65.64,
    'feels_like': 63.93,
    'temp_min': 65.64,
    'temp_max': 65.64,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1014,
    'humidity': 61,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.09, 'deg': 258},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-30 09:00:00'},
  {'dt': 1601467200,
   'main': {'temp': 64.71,
    'feels_like': 63.36,
    'temp_min': 64.71,
    'temp_max': 64.71,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1014,
    'humidity': 65,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 3.89, 'deg': 258},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-09-30 12:00:00'},
  {'dt': 1601478000,
   'main': {'temp': 64.71,
    'feels_like': 64.15,
    'temp_min': 64.71,
    'temp_max': 64.71,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1015,
    'humidity': 66,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.71, 'deg': 274},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-30 15:00:00'},
  {'dt': 1601488800,
   'main': {'temp': 70.32,
    'feels_like': 68.4,
    'temp_min': 70.32,
    'temp_max': 70.32,
    'pressure': 1016,
    'sea_level': 1016,
    'grnd_level': 1015,
    'humidity': 52,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.5, 'deg': 270},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-30 18:00:00'},
  {'dt': 1601499600,
   'main': {'temp': 72.45,
    'feels_like': 68.54,
    'temp_min': 72.45,
    'temp_max': 72.45,
    'pressure': 1015,
    'sea_level': 1015,
    'grnd_level': 1014,
    'humidity': 48,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 7.87, 'deg': 265},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-09-30 21:00:00'}],
 'city': {'id': 5391959,
  'name': 'San Francisco',
  'coord': {'lat': 37.7749, 'lon': -122.4194},
  'country': 'US',
  'population': 805235,
  'timezone': -25200,

In [114]:
data['list'][0]

{'dt': 1601078400,
 'main': {'temp': 66.61,
  'feels_like': 59.02,
  'temp_min': 65.17,
  'temp_max': 66.61,
  'pressure': 1016,
  'sea_level': 1016,
  'grnd_level': 1014,
  'humidity': 59,
  'temp_kf': 0.8},
 'weather': [{'id': 802,
   'main': 'Clouds',
   'description': 'scattered clouds',
   'icon': '03d'}],
 'clouds': {'all': 29},
 'wind': {'speed': 14.54, 'deg': 274},
 'visibility': 10000,
 'pop': 0,
 'sys': {'pod': 'd'},
 'dt_txt': '2020-09-26 00:00:00'}

In [115]:
row = data['list'][0]
{
    'date': row['dt_txt'], 
    **row['main'], 
    **row['weather'][0]
}

{'date': '2020-09-26 00:00:00',
 'temp': 66.61,
 'feels_like': 59.02,
 'temp_min': 65.17,
 'temp_max': 66.61,
 'pressure': 1016,
 'sea_level': 1016,
 'grnd_level': 1014,
 'humidity': 59,
 'temp_kf': 0.8,
 'id': 802,
 'main': 'Clouds',
 'description': 'scattered clouds',
 'icon': '03d'}

In [116]:
# Python magic to build a list of dicts

raw_data = [
    {
        'date': row['dt_txt'], 
        **row['main'], 
        **row['weather'][0]
    } 
    for row in data['list']
]

In [117]:
raw_data[0]

{'date': '2020-09-26 00:00:00',
 'temp': 66.61,
 'feels_like': 59.02,
 'temp_min': 65.17,
 'temp_max': 66.61,
 'pressure': 1016,
 'sea_level': 1016,
 'grnd_level': 1014,
 'humidity': 59,
 'temp_kf': 0.8,
 'id': 802,
 'main': 'Clouds',
 'description': 'scattered clouds',
 'icon': '03d'}

In [118]:
weather = pd.DataFrame.from_dict(raw_data)
weather.head()

,date,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf,id,main,description,icon
0,2020-09-26 00:00:00,66.61,59.02,65.17,66.61,1016,1016,1014,59,0.80,802,Clouds,scattered clouds,03d
1,2020-09-26 03:00:00,62.91,59.18,61.50,62.91,1016,1016,1015,74,0.78,800,Clear,clear sky,01n
2,2020-09-26 06:00:00,61.97,61.74,61.56,61.97,1017,1017,1015,78,0.23,800,Clear,clear sky,01n
3,2020-09-26 09:00:00,61.21,61.47,61.16,61.21,1017,1017,1015,84,0.03,800,Clear,clear sky,01n
4,2020-09-26 12:00:00,60.58,62.37,60.58,60.58,1016,1016,1015,87,0.00,800,Clear,clear sky,01n

In [119]:
weather['date'] = pd.to_datetime(weather['date'])
weather.set_index('date', inplace=True)
weather.head()

,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf,id,main,description,icon
date,,,,,,,,,,,,,
2020-09-26 00:00:00,66.61,59.02,65.17,66.61,1016,1016,1014,59,0.80,802,Clouds,scattered clouds,03d
2020-09-26 03:00:00,62.91,59.18,61.50,62.91,1016,1016,1015,74,0.78,800,Clear,clear sky,01n
2020-09-26 06:00:00,61.97,61.74,61.56,61.97,1017,1017,1015,78,0.23,800,Clear,clear sky,01n
2020-09-26 09:00:00,61.21,61.47,61.16,61.21,1017,1017,1015,84,0.03,800,Clear,clear sky,01n
2020-09-26 12:00:00,60.58,62.37,60.58,60.58,1016,1016,1015,87,0.00,800,Clear,clear sky,01n

In [120]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2020-09-26 00:00:00 to 2020-09-30 21:00:00
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temp         40 non-null     float64
 1   feels_like   40 non-null     float64
 2   temp_min     40 non-null     float64
 3   temp_max     40 non-null     float64
 4   pressure     40 non-null     int64
 5   sea_level    40 non-null     int64
 6   grnd_level   40 non-null     int64
 7   humidity     40 non-null     int64
 8   temp_kf      40 non-null     float64
 9   id           40 non-null     int64
 10  main         40 non-null     object
 11  description  40 non-null     object
 12  icon         40 non-null     object
dtypes: float64(5), int64(5), object(3)
memory usage: 4.4+ KB

## Writing csv data

In [121]:
weather.to_csv('./data/weather.csv')

In [122]:
!head data/weather.csv

date,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf,id,main,description,icon
2020-09-26 00:00:00,66.61,59.02,65.17,66.61,1016,1016,1014,59,0.8,802,Clouds,scattered clouds,03d
2020-09-26 03:00:00,62.91,59.18,61.5,62.91,1016,1016,1015,74,0.78,800,Clear,clear sky,01n
2020-09-26 06:00:00,61.97,61.74,61.56,61.97,1017,1017,1015,78,0.23,800,Clear,clear sky,01n
2020-09-26 09:00:00,61.21,61.47,61.16,61.21,1017,1017,1015,84,0.03,800,Clear,clear sky,01n
2020-09-26 12:00:00,60.58,62.37,60.58,60.58,1016,1016,1015,87,0.0,800,Clear,clear sky,01n
2020-09-26 15:00:00,61.23,62.47,61.23,61.23,1017,1017,1015,84,0.0,801,Clouds,few clouds,02d
2020-09-26 18:00:00,67.55,66.7,67.55,67.55,1016,1016,1015,69,0.0,800,Clear,clear sky,01d
2020-09-26 21:00:00,71.55,66.9,71.55,71.55,1015,1015,1013,60,0.0,801,Clouds,few clouds,02d
2020-09-27 00:00:00,68.68,63.21,68.68,68.68,1013,1013,1012,63,0.0,802,Clouds,scattered clouds,03d

JSON lines?

In [123]:
weather.head()

,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf,id,main,description,icon
date,,,,,,,,,,,,,
2020-09-26 00:00:00,66.61,59.02,65.17,66.61,1016,1016,1014,59,0.80,802,Clouds,scattered clouds,03d
2020-09-26 03:00:00,62.91,59.18,61.50,62.91,1016,1016,1015,74,0.78,800,Clear,clear sky,01n
2020-09-26 06:00:00,61.97,61.74,61.56,61.97,1017,1017,1015,78,0.23,800,Clear,clear sky,01n
2020-09-26 09:00:00,61.21,61.47,61.16,61.21,1017,1017,1015,84,0.03,800,Clear,clear sky,01n
2020-09-26 12:00:00,60.58,62.37,60.58,60.58,1016,1016,1015,87,0.00,800,Clear,clear sky,01n

In [127]:
weather.to_json('./data/weather.jsonlines', orient='records', lines=True)

In [128]:
!cat data/weather.jsonlines

{"temp":66.61,"feels_like":59.02,"temp_min":65.17,"temp_max":66.61,"pressure":1016,"sea_level":1016,"grnd_level":1014,"humidity":59,"temp_kf":0.8,"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}
{"temp":62.91,"feels_like":59.18,"temp_min":61.5,"temp_max":62.91,"pressure":1016,"sea_level":1016,"grnd_level":1015,"humidity":74,"temp_kf":0.78,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":61.97,"feels_like":61.74,"temp_min":61.56,"temp_max":61.97,"pressure":1017,"sea_level":1017,"grnd_level":1015,"humidity":78,"temp_kf":0.23,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":61.21,"feels_like":61.47,"temp_min":61.16,"temp_max":61.21,"pressure":1017,"sea_level":1017,"grnd_level":1015,"humidity":84,"temp_kf":0.03,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":60.58,"feels_like":62.37,"temp_min":60.58,"temp_max":60.58,"pressure":1016,"sea_level":1016,"grnd_level":1015,"humidity":87,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":61.23,"feels_like":62.47,"temp_min":61.23,"temp_max":61.23,"pressure":1017,"sea_level":1017,"grnd_level":1015,"humidity":84,"temp_kf":0.0,"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}
{"temp":67.55,"feels_like":66.7,"temp_min":67.55,"temp_max":67.55,"pressure":1016,"sea_level":1016,"grnd_level":1015,"humidity":69,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":71.55,"feels_like":66.9,"temp_min":71.55,"temp_max":71.55,"pressure":1015,"sea_level":1015,"grnd_level":1013,"humidity":60,"temp_kf":0.0,"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}
{"temp":68.68,"feels_like":63.21,"temp_min":68.68,"temp_max":68.68,"pressure":1013,"sea_level":1013,"grnd_level":1012,"humidity":63,"temp_kf":0.0,"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}
{"temp":65.57,"feels_like":65.62,"temp_min":65.57,"temp_max":65.57,"pressure":1012,"sea_level":1012,"grnd_level":1011,"humidity":67,"temp_kf":0.0,"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}
{"temp":63.9,"feels_like":64.67,"temp_min":63.9,"temp_max":63.9,"pressure":1013,"sea_level":1013,"grnd_level":1011,"humidity":70,"temp_kf":0.0,"id":802,"main":"Clouds","description":"scattered clouds","icon":"03n"}
{"temp":63.3,"feels_like":64.2,"temp_min":63.3,"temp_max":63.3,"pressure":1012,"sea_level":1012,"grnd_level":1011,"humidity":70,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":62.62,"feels_like":62.71,"temp_min":62.62,"temp_max":62.62,"pressure":1011,"sea_level":1011,"grnd_level":1010,"humidity":71,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":64.45,"feels_like":64.06,"temp_min":64.45,"temp_max":64.45,"pressure":1012,"sea_level":1012,"grnd_level":1010,"humidity":65,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":72.43,"feels_like":69.71,"temp_min":72.43,"temp_max":72.43,"pressure":1012,"sea_level":1012,"grnd_level":1011,"humidity":44,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":80.29,"feels_like":75.34,"temp_min":80.29,"temp_max":80.29,"pressure":1010,"sea_level":1010,"grnd_level":1009,"humidity":30,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":76.53,"feels_like":71.08,"temp_min":76.53,"temp_max":76.53,"pressure":1009,"sea_level":1009,"grnd_level":1008,"humidity":37,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":69.24,"feels_like":65.77,"temp_min":69.24,"temp_max":69.24,"pressure":1009,"sea_level":1009,"grnd_level":1008,"humidity":51,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":68.54,"feels_like":67.91,"temp_min":68.54,"temp_max":68.54,"pressure":1011,"sea_level":1011,"grnd_level":1009,"humidity":52,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":67.98,"feels_like":66.31,"temp_min":67.98,"temp_max":67.98,"pressure":1011,"sea_level":1011,"grnd_level":1009,"humidity":51,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":69.55,"feels_like":62.53,"temp_min":69.55,"temp_max":69.55,"pressure":1011,"sea_level":1011,"grnd_level":1009,"humidity":33,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":69.31,"feels_like":62.2,"temp_min":69.31,"temp_max":69.31,"pressure":1012,"sea_level":1012,"grnd_level":1010,"humidity":31,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":75.99,"feels_like":70.29,"temp_min":75.99,"temp_max":75.99,"pressure":1013,"sea_level":1013,"grnd_level":1012,"humidity":25,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":81.57,"feels_like":79.11,"temp_min":81.57,"temp_max":81.57,"pressure":1012,"sea_level":1012,"grnd_level":1011,"humidity":24,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":78.76,"feels_like":72.64,"temp_min":78.76,"temp_max":78.76,"pressure":1012,"sea_level":1012,"grnd_level":1010,"humidity":30,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":70.74,"feels_like":66.56,"temp_min":70.74,"temp_max":70.74,"pressure":1013,"sea_level":1013,"grnd_level":1011,"humidity":46,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":68.59,"feels_like":66.74,"temp_min":68.59,"temp_max":68.59,"pressure":1014,"sea_level":1014,"grnd_level":1013,"humidity":52,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":67.12,"feels_like":66.76,"temp_min":67.12,"temp_max":67.12,"pressure":1014,"sea_level":1014,"grnd_level":1013,"humidity":56,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":66.63,"feels_like":66.38,"temp_min":66.63,"temp_max":66.63,"pressure":1014,"sea_level":1014,"grnd_level":1013,"humidity":55,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":67.86,"feels_like":66.38,"temp_min":67.86,"temp_max":67.86,"pressure":1016,"sea_level":1016,"grnd_level":1014,"humidity":51,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":75.45,"feels_like":73.9,"temp_min":75.45,"temp_max":75.45,"pressure":1016,"sea_level":1016,"grnd_level":1015,"humidity":35,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":77.97,"feels_like":72.9,"temp_min":77.97,"temp_max":77.97,"pressure":1015,"sea_level":1015,"grnd_level":1014,"humidity":35,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":74.46,"feels_like":69.71,"temp_min":74.46,"temp_max":74.46,"pressure":1014,"sea_level":1014,"grnd_level":1013,"humidity":42,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":68.38,"feels_like":65.25,"temp_min":68.38,"temp_max":68.38,"pressure":1014,"sea_level":1014,"grnd_level":1013,"humidity":54,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":66.25,"feels_like":64.38,"temp_min":66.25,"temp_max":66.25,"pressure":1015,"sea_level":1015,"grnd_level":1014,"humidity":60,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":65.64,"feels_like":63.93,"temp_min":65.64,"temp_max":65.64,"pressure":1015,"sea_level":1015,"grnd_level":1014,"humidity":61,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":64.71,"feels_like":63.36,"temp_min":64.71,"temp_max":64.71,"pressure":1015,"sea_level":1015,"grnd_level":1014,"humidity":65,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":64.71,"feels_like":64.15,"temp_min":64.71,"temp_max":64.71,"pressure":1016,"sea_level":1016,"grnd_level":1015,"humidity":66,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":70.32,"feels_like":68.4,"temp_min":70.32,"temp_max":70.32,"pressure":1016,"sea_level":1016,"grnd_level":1015,"humidity":52,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":72.45,"feels_like":68.54,"temp_min":72.45,"temp_max":72.45,"pressure":1015,"sea_level":1015,"grnd_level":1014,"humidity":48,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}

In [129]:
df = pd.read_json('./data/weather.jsonlines', lines=True)

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temp         40 non-null     float64
 1   feels_like   40 non-null     float64
 2   temp_min     40 non-null     float64
 3   temp_max     40 non-null     float64
 4   pressure     40 non-null     int64
 5   sea_level    40 non-null     int64
 6   grnd_level   40 non-null     int64
 7   humidity     40 non-null     int64
 8   temp_kf      40 non-null     float64
 9   id           40 non-null     int64
 10  main         40 non-null     object
 11  description  40 non-null     object
 12  icon         40 non-null     object
dtypes: float64(5), int64(5), object(3)
memory usage: 4.2+ KB

In [131]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2020-09-26 00:00:00 to 2020-09-30 21:00:00
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temp         40 non-null     float64
 1   feels_like   40 non-null     float64
 2   temp_min     40 non-null     float64
 3   temp_max     40 non-null     float64
 4   pressure     40 non-null     int64
 5   sea_level    40 non-null     int64
 6   grnd_level   40 non-null     int64
 7   humidity     40 non-null     int64
 8   temp_kf      40 non-null     float64
 9   id           40 non-null     int64
 10  main         40 non-null     object
 11  description  40 non-null     object
 12  icon         40 non-null     object
dtypes: float64(5), int64(5), object(3)
memory usage: 5.6+ KB

In [137]:
temp_values = list(weather.temp)
%timeit [v * 0.7 for v in temp_values]  # ??!

2.82 s  23.8 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [135]:
%timeit weather.temp * 0.7

173 s  10.2 s per loop (mean  std. dev. of 7 runs, 10000 loops each)

In [136]:
%timeit weather.temp.values * 0.7

10.4 s  408 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

Open the [Pandas IO Lab][pandas-io-lab]

[pandas-io-lab]: ./pandas-io-lab.ipynb