# Pandas: the Python structured data library

Pandas (allegedly) stands for **Pan**el **da**ta (**s**?) and lets you manipulate 'spreadsheet-like' data in Python easily

In [1]:
!pip install pandas

Looking in links: /Users/rick446/src/wheelhouse
Requirement already satisfied: pandas in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (1.1.0)
Requirement already satisfied: numpy>=1.15.4 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas) (1.19.1)
Requirement already satisfied: pytz>=2017.2 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 20.2.1; however, version 20.2.2 is available.
You should consider upgrading via the '/Users/rick446/.virtualenvs/py38/bin/python3.8 -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

## Series: kind of like a `list` and `dict` put together

In [3]:
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [7]:
import numpy as np

s = pd.Series([1,2,3], dtype=np.int8)
s

0    1
1    2
2    3
dtype: int8

In [8]:
s[1] = 3.14
s

0    1
1    3
2    3
dtype: int8

In [9]:
'a b c'.split()

['a', 'b', 'c']

In [10]:
s = pd.Series([1,2,3], index='a b c'.split())
s

a    1
b    2
c    3
dtype: int64

In [11]:
s[0]

1

In [12]:
s['a']

1

## DataFrame -- the main data type

In [16]:
df = pd.DataFrame(
    [
        [1,2,3],
        [4,5,6],
        [7,8,9],
        [7,8,9],
    ],
    columns='a b c'.split(),
    index='x y z w'.split()
)
df

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9
w  7  8  9

In [17]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [18]:
df.index

Index(['x', 'y', 'z', 'w'], dtype='object')

In [22]:
df['a']

x    1
y    4
z    7
w    7
Name: a, dtype: int64

Multiple columns

In [26]:
cola = pd.Series([1, 4, 7], name='a')
colb = pd.Series([2, 5, 8], name='b')
colc = pd.Series([3, 6, 9], name='c')
pd.DataFrame({'a': cola, 'b': colb, 'c': colc})

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [27]:
df

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9
w  7  8  9

In [ ]:
cols = ['a', 'b', 'b']
df_test = df[cols]
df_test

Indexing ambiguity

In [28]:
s = pd.Series([1,2,3], index=[3, 1, 2])
s

3    1
1    2
2    3
dtype: int64

In [31]:
s[3]

1

In [32]:
s[0:2]

3    1
1    2
dtype: int64

# Indexing using .loc, .iloc

In [33]:
df

   a  b  c
x  1  2  3
y  4  5  6
z  7  8  9
w  7  8  9

In [34]:
df['a']

x    1
y    4
z    7
w    7
Name: a, dtype: int64

In [35]:
df.loc['x']

a    1
b    2
c    3
Name: x, dtype: int64

In [36]:
df.iloc[0]

a    1
b    2
c    3
Name: x, dtype: int64

In [37]:
df.loc['x', 'a']

1

In [41]:
df.loc['x', :]  # retrieve all columns

a    1
b    2
c    3
Name: x, dtype: int64

In [42]:
df.loc[:, 'a']  # retrieve all rows

x    1
y    4
z    7
w    7
Name: a, dtype: int64

In [43]:
df.loc['x':'y']   # includes both endpoints (df.loc[x] and df.loc[y])

   a  b  c
x  1  2  3
y  4  5  6

In [44]:
df.iloc[0:2]     # excludes the right endpoint (df.iloc[2])

   a  b  c
x  1  2  3
y  4  5  6

In [49]:
df.info() # memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, x to w
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
dtypes: int64(3)
memory usage: 288.0+ bytes

In [50]:
df.loc['x', 'b'] = 200

In [51]:
df

   a    b  c
x  1  200  3
y  4    5  6
z  7    8  9
w  7    8  9

In [52]:
df['a']

x    1
y    4
z    7
w    7
Name: a, dtype: int64

In [55]:
df2 = df[['a']]
df2

   a
x  1
y  4
z  7
w  7

In [56]:
df2.shape

(4, 1)

In [57]:
df['a']

x    1
y    4
z    7
w    7
Name: a, dtype: int64

In [58]:
df['a'].shape

(4,)

# Reading CSV data

Most of the time, we *won't* be building `DataFrame`s out of the basic constructor, but rather using one of the readers built in to Pandas. One of these is `read_csv`:

In [59]:
df = pd.read_csv('./data/closing-prices.csv')
df.head() # Only show the first few rows

   Unnamed: 0        F    TSLA  GOOG       IBM     AAPL
0  2014-01-02  12.0890  150.10   NaN  157.6001  72.7741
1  2014-01-03  12.1438  149.56   NaN  158.5430  71.1756
2  2014-01-06  12.1986  147.00   NaN  157.9993  71.5637
3  2014-01-07  12.0420  149.36   NaN  161.1508  71.0516
4  2014-01-08  12.1673  151.28   NaN  159.6728  71.5019

In [60]:
!head data/closing-prices.csv

,F,TSLA,GOOG,IBM,AAPL
2014-01-02,12.089,150.1,,157.6001,72.7741
2014-01-03,12.1438,149.56,,158.543,71.1756
2014-01-06,12.1986,147.0,,157.9993,71.5637
2014-01-07,12.042,149.36,,161.1508,71.0516
2014-01-08,12.1673,151.28,,159.6728,71.5019
2014-01-09,12.4022,147.53,,159.1716,70.5887
2014-01-10,12.5822,145.7199,,159.0696,70.1178
2014-01-13,12.6136,139.34,,156.4363,70.4849
2014-01-14,12.8406,161.27,,157.9314,71.8874

The CSV reader is pretty good about inferring types, but not perfect. We can check lots of things about the structure of a `DataFrame` with the `.info()` method:

In [68]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1007 non-null   object
 1   F           1007 non-null   float64
 2   TSLA        1007 non-null   float64
 3   GOOG        949 non-null    float64
 4   IBM         1007 non-null   float64
 5   AAPL        1007 non-null   float64
dtypes: float64(5), object(1)
memory usage: 105.3 KB

In [64]:
float('nan')

nan

In [65]:
np.nan == np.nan

False

In [66]:
np.nan is np.nan

True

In [67]:
!ls -lh ./data/closing-prices.csv

-rw-r--r--  1 rick446  staff    49K Feb 26  2019 ./data/closing-prices.csv

In [69]:
import csv
with open('./data/closing-prices.csv') as f:
    rows = list(csv.reader(f))

In [70]:
len(rows)

1008

In [71]:
rows[:5]

[['', 'F', 'TSLA', 'GOOG', 'IBM', 'AAPL'],
 ['2014-01-02', '12.089', '150.1', '', '157.6001', '72.7741'],
 ['2014-01-03', '12.1438', '149.56', '', '158.543', '71.1756'],
 ['2014-01-06', '12.1986', '147.0', '', '157.9993', '71.5637'],
 ['2014-01-07', '12.042', '149.36', '', '161.1508', '71.0516']]

In [72]:
!pip install pympler

Looking in links: /Users/rick446/src/wheelhouse
Collecting pympler
  Using cached Pympler-0.8.tar.gz (175 kB)
Building wheels for collected packages: pympler
  Building wheel for pympler (setup.py) ... done
  Created wheel for pympler: filename=Pympler-0.8-py3-none-any.whl size=164713 sha256=dac9876d4e4ab41edb3c5bdf969436c38db9c29d6a130f91cb7b622add12de36
  Stored in directory: /Users/rick446/Library/Caches/pip/wheels/2c/09/38/7c8c5dc224099d3a7194d154a99093d429bb4bda18c241c4b5
Successfully built pympler
Installing collected packages: pympler
Successfully installed pympler-0.8
WARNING: You are using pip version 20.2.1; however, version 20.2.2 is available.
You should consider upgrading via the '/Users/rick446/.virtualenvs/py38/bin/python3.8 -m pip install --upgrade pip' command.

In [73]:
import pympler

In [74]:
import pympler.asizeof

In [75]:
pympler.asizeof.asizeof(rows)

485176

The first column was read in as an `object` (meaning Pandas couldn't be more specific about its type, usually what happens with string data). Let's tell Pandas that column is a date:

In [76]:
pd.to_datetime(df['Unnamed: 0'])

0      2014-01-02
1      2014-01-03
2      2014-01-06
3      2014-01-07
4      2014-01-08
          ...
1002   2017-12-22
1003   2017-12-26
1004   2017-12-27
1005   2017-12-28
1006   2017-12-29
Name: Unnamed: 0, Length: 1007, dtype: datetime64[ns]

In [78]:
df['Unnamed: 0'] = pd.to_datetime(df['Unnamed: 0'])
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1007 non-null   datetime64[ns]
 1   F           1007 non-null   float64
 2   TSLA        1007 non-null   float64
 3   GOOG        949 non-null    float64
 4   IBM         1007 non-null   float64
 5   AAPL        1007 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 47.3 KB

We can also parse datetimes during the import:

In [79]:
df = pd.read_csv('./data/closing-prices.csv', parse_dates=[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1007 non-null   datetime64[ns]
 1   F           1007 non-null   float64
 2   TSLA        1007 non-null   float64
 3   GOOG        949 non-null    float64
 4   IBM         1007 non-null   float64
 5   AAPL        1007 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 47.3 KB

In [80]:
ls -lh ./data/closing-prices.csv

-rw-r--r--  1 rick446  staff    49K Feb 26  2019 ./data/closing-prices.csv

In [81]:
df.iloc[:5]

  Unnamed: 0        F    TSLA  GOOG       IBM     AAPL
0 2014-01-02  12.0890  150.10   NaN  157.6001  72.7741
1 2014-01-03  12.1438  149.56   NaN  158.5430  71.1756
2 2014-01-06  12.1986  147.00   NaN  157.9993  71.5637
3 2014-01-07  12.0420  149.36   NaN  161.1508  71.0516
4 2014-01-08  12.1673  151.28   NaN  159.6728  71.5019

In [83]:
df.tail()

     Unnamed: 0        F    TSLA     GOOG       IBM      AAPL
1002 2017-12-22  11.9489  325.20  1060.12  147.7588  173.0230
1003 2017-12-26  11.9679  317.29  1056.74  148.0786  168.6334
1004 2017-12-27  11.8729  311.64  1049.37  148.3693  168.6630
1005 2017-12-28  11.9489  315.36  1048.14  149.2510  169.1376
1006 2017-12-29  11.8634  311.35  1046.40  148.6502  167.3086

We can set the index of the dataframe as well:

In [84]:
df = df.set_index('Unnamed: 0')  # also df.set_index('Unnamed: 0', inplace=True)
df.head()

                  F    TSLA  GOOG       IBM     AAPL
Unnamed: 0
2014-01-02  12.0890  150.10   NaN  157.6001  72.7741
2014-01-03  12.1438  149.56   NaN  158.5430  71.1756
2014-01-06  12.1986  147.00   NaN  157.9993  71.5637
2014-01-07  12.0420  149.36   NaN  161.1508  71.0516
2014-01-08  12.1673  151.28   NaN  159.6728  71.5019

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1007 entries, 2014-01-02 to 2017-12-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F       1007 non-null   float64
 1   TSLA    1007 non-null   float64
 2   GOOG    949 non-null    float64
 3   IBM     1007 non-null   float64
 4   AAPL    1007 non-null   float64
dtypes: float64(5)
memory usage: 47.2 KB

Its even better if we do it when we read in the frame:

In [86]:
df = pd.read_csv('./data/closing-prices.csv', index_col=0, parse_dates=[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1007 entries, 2014-01-02 to 2017-12-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F       1007 non-null   float64
 1   TSLA    1007 non-null   float64
 2   GOOG    949 non-null    float64
 3   IBM     1007 non-null   float64
 4   AAPL    1007 non-null   float64
dtypes: float64(5)
memory usage: 47.2 KB

In [87]:
df.head()

                  F    TSLA  GOOG       IBM     AAPL
2014-01-02  12.0890  150.10   NaN  157.6001  72.7741
2014-01-03  12.1438  149.56   NaN  158.5430  71.1756
2014-01-06  12.1986  147.00   NaN  157.9993  71.5637
2014-01-07  12.0420  149.36   NaN  161.1508  71.0516
2014-01-08  12.1673  151.28   NaN  159.6728  71.5019

In [88]:
!cp ./data/closing-prices.csv ./data/closing-prices-2.csv
!gzip -f ./data/closing-prices-2.csv

In [89]:
!ls -lh ./data/closing-prices-2.csv.gz

-rw-r--r--  1 rick446  staff    20K Aug 25 13:41 ./data/closing-prices-2.csv.gz

In [95]:
df = pd.read_csv(
    './data/closing-prices-2.csv.gz', 
    index_col=0, 
    parse_dates=[0], 
    dtype=np.float16,
)
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1007 entries, 2014-01-02 to 2017-12-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F       1007 non-null   float16
 1   TSLA    1007 non-null   float16
 2   GOOG    949 non-null    float16
 3   IBM     1007 non-null   float16
 4   AAPL    1007 non-null   float16
dtypes: float16(5)
memory usage: 17.7 KB

(If you install s3fs, you can even read CSVs from s3://.....csv.gz urls!)

## Reading from external APIs

There are some data sources for market data available in the pandas_datareader package:

In [96]:
!pip install pandas_datareader

Looking in links: /Users/rick446/src/wheelhouse
Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
     |████████████████████████████████| 107 kB 3.3 MB/s eta 0:00:01
Collecting lxml
  Downloading lxml-4.5.2-cp38-cp38-macosx_10_9_x86_64.whl (4.5 MB)
     |████████████████████████████████| 4.5 MB 4.3 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas_datareader) (1.1.0)
Processing /Users/rick446/src/wheelhouse/requests-2.24.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.19.1)
Processing /Users/rick446/src/wheelhouse/certifi-2020.6.20-py2.py3-none-any.whl
Processing /Users/rick446/src/wheelhouse/chardet-3.0.4-py2.py3-none-any.whl
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (1.25.10)
Processing /Users/rick446/src/wheelhouse/idna-2.10-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Installing collected packages: lxml, certifi, chardet, idna, requests, pandas-datareader
Successfully installed certifi-2020.6.20 chardet-3.0.4 idna-2.10 lxml-4.5.2 pandas-datareader-0.9.0 requests-2.24.0
WARNING: You are using pip version 20.2.1; however, version 20.2.2 is available.
You should consider upgrading via the '/Users/rick446/.virtualenvs/py38/bin/python3.8 -m pip install --upgrade pip' command.

In [97]:
from datetime import datetime

import pandas_datareader.data as web

start, end = datetime(2014, 1, 1), datetime(2018, 1, 1)
data = web.DataReader(
    ['F', 'TSLA', 'GOOG', 'IBM', 'AAPL', 'CRM'], 
    'yahoo', start, end,
)
data.head()

Attributes  Adj Close                                                 \
Symbols             F        TSLA        GOOG         IBM       AAPL
Date
2014-01-02  11.368886  150.100006  554.481689  140.697495  70.620010
2014-01-03  11.420427  149.559998  550.436829  141.539261  69.068787
2014-01-06  11.471969  147.000000  556.573853  141.053940  69.445427
2014-01-07  11.324705  149.360001  567.303589  143.867477  68.948753
2014-01-08  11.442515  151.279999  568.484192  142.547913  69.385429

Attributes             Close                                      ...  \
Symbols           CRM      F        TSLA        GOOG         IBM  ...
Date                                                              ...
2014-01-02  54.860001  15.44  150.100006  554.481689  185.529999  ...
2014-01-03  55.119999  15.51  149.559998  550.436829  186.639999  ...
2014-01-06  54.230000  15.58  147.000000  556.573853  186.000000  ...
2014-01-07  54.950001  15.38  149.360001  567.303589  189.710007  ...
2014-01-08  56.939999  15.54  151.279999  568.484192  187.970001  ...

Attributes        Open                                        Volume  \
Symbols           GOOG         IBM       AAPL        CRM           F
Date
2014-01-02  555.647278  187.210007  79.382858  55.200001  31528500.0
2014-01-03  555.418152  185.830002  78.980003  54.930000  46122300.0
2014-01-06  554.426880  187.149994  76.778572  55.200001  42657600.0
2014-01-07  560.399475  186.389999  77.760002  54.430000  54476300.0
2014-01-08  570.860291  189.330002  76.972855  55.189999  48448300.0

Attributes
Symbols          TSLA       GOOG        IBM         AAPL        CRM
Date
2014-01-02  6188400.0  3656400.0  4546500.0   58671200.0  2730200.0
2014-01-03  4695000.0  3345800.0  4063200.0   98116900.0  1968700.0
2014-01-06  5361100.0  3551800.0  4067800.0  103152700.0  2532700.0
2014-01-07  5034100.0  5124300.0  5932300.0   79302300.0  2787200.0
2014-01-08  6163200.0  4501700.0  4603700.0   64632400.0  7036900.0

[5 rows x 36 columns]

In [98]:
data['Close'].head()

Symbols         F        TSLA        GOOG         IBM       AAPL        CRM
Date
2014-01-02  15.44  150.100006  554.481689  185.529999  79.018570  54.860001
2014-01-03  15.51  149.559998  550.436829  186.639999  77.282860  55.119999
2014-01-06  15.58  147.000000  556.573853  186.000000  77.704285  54.230000
2014-01-07  15.38  149.360001  567.303589  189.710007  77.148575  54.950001
2014-01-08  15.54  151.279999  568.484192  187.970001  77.637146  56.939999

In [99]:
data.loc[:, ('Close', "CRM")]

Date
2014-01-02     54.860001
2014-01-03     55.119999
2014-01-06     54.230000
2014-01-07     54.950001
2014-01-08     56.939999
                 ...
2017-12-22    102.629997
2017-12-26    102.540001
2017-12-27    102.650002
2017-12-28    102.790001
2017-12-29    102.230003
Name: (Close, CRM), Length: 1007, dtype: float64

In [100]:
data.columns

MultiIndex([('Adj Close',    'F'),
            ('Adj Close', 'TSLA'),
            ('Adj Close', 'GOOG'),
            ('Adj Close',  'IBM'),
            ('Adj Close', 'AAPL'),
            ('Adj Close',  'CRM'),
            (    'Close',    'F'),
            (    'Close', 'TSLA'),
            (    'Close', 'GOOG'),
            (    'Close',  'IBM'),
            (    'Close', 'AAPL'),
            (    'Close',  'CRM'),
            (     'High',    'F'),
            (     'High', 'TSLA'),
            (     'High', 'GOOG'),
            (     'High',  'IBM'),
            (     'High', 'AAPL'),
            (     'High',  'CRM'),
            (      'Low',    'F'),
            (      'Low', 'TSLA'),
            (      'Low', 'GOOG'),
            (      'Low',  'IBM'),
            (      'Low', 'AAPL'),
            (      'Low',  'CRM'),
            (     'Open',    'F'),
            (     'Open', 'TSLA'),
            (     'Open', 'GOOG'),
            (     'Open',  'IBM'),
            (     'Open', 'AAPL'),
            (     'Open',  'CRM'),
            (   'Volume',    'F'),
            (   'Volume', 'TSLA'),
            (   'Volume', 'GOOG'),
            (   'Volume',  'IBM'),
            (   'Volume', 'AAPL'),
            (   'Volume',  'CRM')],
           names=['Attributes', 'Symbols'])

In [101]:
data.columns.levels

FrozenList([['Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], ['F', 'TSLA', 'GOOG', 'IBM', 'AAPL', 'CRM']])

In [102]:
dfs = {
    attr: data[attr]
    for attr in data.columns.levels[0]
}

In [103]:
dfs['Volume'].head()

Symbols,F,TSLA,GOOG,IBM,AAPL,CRM
Date,,,,,,
2014-01-02,31528500.0,6188400.0,3656400.0,4546500.0,58671200.0,2730200.0
2014-01-03,46122300.0,4695000.0,3345800.0,4063200.0,98116900.0,1968700.0
2014-01-06,42657600.0,5361100.0,3551800.0,4067800.0,103152700.0,2532700.0
2014-01-07,54476300.0,5034100.0,5124300.0,5932300.0,79302300.0,2787200.0
2014-01-08,48448300.0,6163200.0,4501700.0,4603700.0,64632400.0,7036900.0

In [104]:
data.columns = data.columns.swaplevel()
data.head()

Symbols,F,TSLA,GOOG,IBM,AAPL,CRM,F,TSLA,GOOG,IBM,...,GOOG,IBM,AAPL,CRM,F,TSLA,GOOG,IBM,AAPL,CRM
Attributes,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Adj Close,Close,Close,Close,Close,...,Open,Open,Open,Open,Volume,Volume,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2014-01-02,11.368886,150.100006,554.481689,140.697495,70.620010,54.860001,15.44,150.100006,554.481689,185.529999,...,555.647278,187.210007,79.382858,55.200001,31528500.0,6188400.0,3656400.0,4546500.0,58671200.0,2730200.0
2014-01-03,11.420427,149.559998,550.436829,141.539261,69.068787,55.119999,15.51,149.559998,550.436829,186.639999,...,555.418152,185.830002,78.980003,54.930000,46122300.0,4695000.0,3345800.0,4063200.0,98116900.0,1968700.0
2014-01-06,11.471969,147.000000,556.573853,141.053940,69.445427,54.230000,15.58,147.000000,556.573853,186.000000,...,554.426880,187.149994,76.778572,55.200001,42657600.0,5361100.0,3551800.0,4067800.0,103152700.0,2532700.0
2014-01-07,11.324705,149.360001,567.303589,143.867477,68.948753,54.950001,15.38,149.360001,567.303589,189.710007,...,560.399475,186.389999,77.760002,54.430000,54476300.0,5034100.0,5124300.0,5932300.0,79302300.0,2787200.0
2014-01-08,11.442515,151.279999,568.484192,142.547913,69.385429,56.939999,15.54,151.279999,568.484192,187.970001,...,570.860291,189.330002,76.972855,55.189999,48448300.0,6163200.0,4501700.0,4603700.0,64632400.0,7036900.0

In [105]:
data['CRM'].head()

Attributes  Adj Close      Close       High        Low       Open     Volume
Date
2014-01-02  54.860001  54.860001  55.209999  54.410000  55.200001  2730200.0
2014-01-03  55.119999  55.119999  55.389999  54.520000  54.930000  1968700.0
2014-01-06  54.230000  54.230000  55.240002  54.029999  55.200001  2532700.0
2014-01-07  54.950001  54.950001  55.119999  54.290001  54.430000  2787200.0
2014-01-08  56.939999  56.939999  57.130001  54.759998  55.189999  7036900.0

## Writing Excel data

We can write a multi-page Excel file using an ExcelWriter:

In [106]:
!pip install xlrd xlwt openpyxl

Looking in links: /Users/rick446/src/wheelhouse
Processing /Users/rick446/src/wheelhouse/xlrd-1.2.0-py2.py3-none-any.whl
Processing /Users/rick446/src/wheelhouse/xlwt-1.3.0-py2.py3-none-any.whl
Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 2.5 MB/s eta 0:00:01
Processing /Users/rick446/src/wheelhouse/et_xmlfile-1.0.1-py3-none-any.whl
Processing /Users/rick446/src/wheelhouse/jdcal-1.4.1-py2.py3-none-any.whl
Installing collected packages: xlrd, xlwt, et-xmlfile, jdcal, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5 xlrd-1.2.0 xlwt-1.3.0
WARNING: You are using pip version 20.2.1; however, version 20.2.2 is available.
You should consider upgrading via the '/Users/rick446/.virtualenvs/py38/bin/python3.8 -m pip install --upgrade pip' command.

In normal python to write a file you might say:

```python
with open(filename, 'w') as fp:
    fp.write(some_data)
```

In [107]:
with pd.ExcelWriter('./data/stocks.xlsx') as writer:
    for name, sheet in dfs.items():
        sheet.to_excel(writer, name)

In [108]:
!open data/stocks.xlsx

## Reading Excel data

We can also read a sheet from an Excel workbook:

In [109]:
closing = pd.read_excel('./data/stocks.xlsx', 'Close', index_col='Date')
closing.head()

                F        TSLA        GOOG         IBM       AAPL        CRM
Date
2014-01-02  15.44  150.100006  554.481689  185.529999  79.018570  54.860001
2014-01-03  15.51  149.559998  550.436829  186.639999  77.282860  55.119999
2014-01-06  15.58  147.000000  556.573853  186.000000  77.704285  54.230000
2014-01-07  15.38  149.360001  567.303589  189.710007  77.148575  54.950001
2014-01-08  15.54  151.279999  568.484192  187.970001  77.637146  56.939999

In [110]:
closing.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1007 entries, 2014-01-02 to 2017-12-29
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   F       1007 non-null   float64
 1   TSLA    1007 non-null   float64
 2   GOOG    1007 non-null   float64
 3   IBM     1007 non-null   float64
 4   AAPL    1007 non-null   float64
 5   CRM     1007 non-null   float64
dtypes: float64(6)
memory usage: 55.1 KB

## Data from SQL

In [111]:
import pandas as pd
import sqlite3
con = sqlite3.connect('./data/real-estate.db')

In [112]:
transactions = pd.read_sql(
    'SELECT * FROM transactions', con, 
    index_col='index', 
    parse_dates=['sale_date'],
)
transactions.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
index,,,,,,,,,,,,
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,2008-05-21 00:00:00-04:00,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,2008-05-21 00:00:00-04:00,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,2008-05-21 00:00:00-04:00,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,2008-05-21 00:00:00-04:00,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,2008-05-21 00:00:00-04:00,81900,38.519470,-121.435768

We can even build a quick little bulk load function in a couple of lines of pandas:

In [113]:
stock = pd.read_csv('./data/closing-prices.csv', index_col=[0], parse_dates=True)
stock.to_sql('stock', con, if_exists='replace')

In [114]:
for row in con.execute('select * from stock limit 5'):
    print(row)

('2014-01-02 00:00:00', 12.089, 150.1, None, 157.6001, 72.7741)
('2014-01-03 00:00:00', 12.1438, 149.56, None, 158.543, 71.1756)
('2014-01-06 00:00:00', 12.1986, 147.0, None, 157.9993, 71.5637)
('2014-01-07 00:00:00', 12.042, 149.36, None, 161.1508, 71.0516)
('2014-01-08 00:00:00', 12.1673, 151.28, None, 159.6728, 71.5019)

In [115]:
con.execute('select count(*) from stock').fetchall()

[(1007,)]

(for non-sqlite3 databases, you must use a sqlalchemy engine object and the `sqlalchemy.create_engine` function)

## Data from HTML

In [116]:
!pip install html5lib

Looking in links: /Users/rick446/src/wheelhouse
Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 3.2 MB/s eta 0:00:01
Requirement already satisfied: webencodings in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from html5lib) (1.15.0)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
WARNING: You are using pip version 20.2.1; however, version 20.2.2 is available.
You should consider upgrading via the '/Users/rick446/.virtualenvs/py38/bin/python3.8 -m pip install --upgrade pip' command.

In [117]:
tables = pd.read_html(
    'https://en.wikipedia.org/wiki/Python_(genus)',
)

In [118]:
len(tables)

7

In [119]:
tables[0]

,Python,Python.1
0,NaN,NaN
1,Burmese python (Python bivittatus),Burmese python (Python bivittatus)
2,Scientific classification,Scientific classification
3,Kingdom:,Animalia
4,Phylum:,Chordata
5,Class:,Reptilia
6,Order:,Squamata
7,Suborder:,Serpentes
8,Family:,Pythonidae
9,Genus:,"PythonDaudin, 1803"
10,Synonyms,Synonyms
11,"List Python Daudin, 1803Constrictor Wagler, 18...","List Python Daudin, 1803Constrictor Wagler, 18..."

In [120]:
tables = pd.read_html(
    'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population',
    match='New York'
)
len(tables)

2

In [121]:
tables[0]

,2019rank,City,State[c],2019estimate,2010Census,Change,2016 land area,2016 land area.1,2016 population density,2016 population density.1,Location
0,1,New York[d],New York,8336817,8175133,+1.98%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N 73°56′19″W﻿ / ﻿40.6635°N 73.9387°W
1,2,Los Angeles,California,3979576,3792621,+4.93%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N 118°24′39″W﻿ / ﻿34.0194°N 118.4108°W
2,3,Chicago,Illinois,2693976,2695598,−0.06%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N 87°40′54″W﻿ / ﻿41.8376°N 87.6818°W
3,4,Houston[3],Texas,2320268,2100263,+10.48%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N 95°23′27″W﻿ / ﻿29.7866°N 95.3909°W
4,5,Phoenix,Arizona,1680992,1445632,+16.28%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N 112°05′24″W﻿ / ﻿33.5722°N 112.0901°W
...,...,...,...,...,...,...,...,...,...,...,...
312,313,San Angelo,Texas,101004,93200,+8.37%,59.9 sq mi,155.1 km2,"1,681/sq mi",649/km2,31°26′28″N 100°27′02″W﻿ / ﻿31.4411°N 100.4505°W
313,314,Vacaville,California,100670,92428,+8.92%,29.0 sq mi,75.1 km2,"3,449/sq mi","1,332/km2",38°21′14″N 121°58′22″W﻿ / ﻿38.3539°N 121.9728°W
314,315,Clinton[ae],Michigan,100471,96796,+3.80%,28.1 sq mi,72.8 km2,"3,573/sq mi","1,380/km2",42°35′25″N 82°55′01″W﻿ / ﻿42.5903°N 82.9170°W
315,316,Bend,Oregon,100421,76639,+31.03%,33.1 sq mi,85.7 km2,"3,034/sq mi","1,171/km2",44°03′00″N 121°18′00″W﻿ / ﻿44.0500°N 121.3000°W
316,317,Woodbridge[ad],New Jersey,100145,99585,+0.56%,23.3 sq mi,60.3 km2,"4,351/sq mi","1,680/km2",40°33′39″N 74°17′34″W﻿ / ﻿40.5607°N 74.2927°W

In [122]:
tables[1].head()

,City,State,2019 estimated population,Peak population (year),Numeric decline from peak population,Percent decline from peak population,Notes
0,Albany,New York,96460,"134,995 (1950)","−38,535",−28.55%,2.30% from 2000 to 2010
1,Allegheny,Pennsylvania,N/A[af],"129,896 (1900)",–,–,annexed by Pittsburgh in 1907
2,Brooklyn,New York,N/A[ag],"806,343 (1890)",–,–,consolidated with New York City in 1898
3,Camden,New Jersey,73562,"124,555 (1950)","−50,993",−40.94%,NaN
4,Canton,Ohio,70447,"116,912 (1950)","−46,465",−39.74%,NaN

## Data from JSON APIs

In [123]:
!pip install requests

Looking in links: /Users/rick446/src/wheelhouse
Requirement already satisfied: requests in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests) (1.25.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/rick446/.virtualenvs/py38/lib/python3.8/site-packages (from requests) (2.10)
WARNING: You are using pip version 20.2.1; however, version 20.2.2 is available.
You should consider upgrading via the '/Users/rick446/.virtualenvs/py38/bin/python3.8 -m pip install --upgrade pip' command.

In [124]:
import requests

# I don't have any idea who's API key this is, but they're free, so....
APPID = '10d4440bbaa8581bb8da9bd1fbea5617'   
UNITS = 'imperial'
city = 'San Francisco'
resp = requests.get(
    'http://api.openweathermap.org/data/2.5/forecast', 
    params={
        'q': city,
        'units': UNITS,
        'appid': APPID,
    }
)
data = resp.json()

In [125]:
data

{'cod': '200',
 'message': 0,
 'cnt': 40,
 'list': [{'dt': 1598389200,
   'main': {'temp': 65.21,
    'feels_like': 61.11,
    'temp_min': 65.21,
    'temp_max': 68.11,
    'pressure': 1012,
    'sea_level': 1011,
    'grnd_level': 1010,
    'humidity': 75,
    'temp_kf': -1.61},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 51},
   'wind': {'speed': 11.25, 'deg': 253},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-25 21:00:00'},
  {'dt': 1598400000,
   'main': {'temp': 64.58,
    'feels_like': 60.44,
    'temp_min': 64.58,
    'temp_max': 65.16,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1008,
    'humidity': 77,
    'temp_kf': -0.32},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 26},
   'wind': {'speed': 11.39, 'deg': 263},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-26 00:00:00'},
  {'dt': 1598410800,
   'main': {'temp': 62.42,
    'feels_like': 59.85,
    'temp_min': 62.42,
    'temp_max': 62.42,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1008,
    'humidity': 79,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 6},
   'wind': {'speed': 7.81, 'deg': 257},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-26 03:00:00'},
  {'dt': 1598421600,
   'main': {'temp': 61.41,
    'feels_like': 58.37,
    'temp_min': 61.41,
    'temp_max': 61.41,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1009,
    'humidity': 77,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 1},
   'wind': {'speed': 7.67, 'deg': 243},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-26 06:00:00'},
  {'dt': 1598432400,
   'main': {'temp': 59.14,
    'feels_like': 56.32,
    'temp_min': 59.14,
    'temp_max': 59.14,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1009,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 7.02, 'deg': 235},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-26 09:00:00'},
  {'dt': 1598443200,
   'main': {'temp': 58.17,
    'feels_like': 55.71,
    'temp_min': 58.17,
    'temp_max': 58.17,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1009,
    'humidity': 84,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.22, 'deg': 229},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-26 12:00:00'},
  {'dt': 1598454000,
   'main': {'temp': 59.36,
    'feels_like': 57.25,
    'temp_min': 59.36,
    'temp_max': 59.36,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1010,
    'humidity': 80,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 5.5, 'deg': 222},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-26 15:00:00'},
  {'dt': 1598464800,
   'main': {'temp': 64.4,
    'feels_like': 60.76,
    'temp_min': 64.4,
    'temp_max': 64.4,
    'pressure': 1011,
    'sea_level': 1011,
    'grnd_level': 1010,
    'humidity': 64,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 1},
   'wind': {'speed': 7.56, 'deg': 236},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-26 18:00:00'},
  {'dt': 1598475600,
   'main': {'temp': 64.8,
    'feels_like': 58.75,
    'temp_min': 64.8,
    'temp_max': 64.8,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1009,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 1},
   'wind': {'speed': 11.81, 'deg': 253},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-26 21:00:00'},
  {'dt': 1598486400,
   'main': {'temp': 61.9,
    'feels_like': 54.93,
    'temp_min': 61.9,
    'temp_max': 61.9,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1007,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 4},
   'wind': {'speed': 13.71, 'deg': 262},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-27 00:00:00'},
  {'dt': 1598497200,
   'main': {'temp': 57.47,
    'feels_like': 52.03,
    'temp_min': 57.47,
    'temp_max': 57.47,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1007,
    'humidity': 85,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 6},
   'wind': {'speed': 11.32, 'deg': 259},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-27 03:00:00'},
  {'dt': 1598508000,
   'main': {'temp': 56.95,
    'feels_like': 52.18,
    'temp_min': 56.95,
    'temp_max': 56.95,
    'pressure': 1010,
    'sea_level': 1010,
    'grnd_level': 1008,
    'humidity': 87,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 16},
   'wind': {'speed': 10.18, 'deg': 247},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-27 06:00:00'},
  {'dt': 1598518800,
   'main': {'temp': 57.09,
    'feels_like': 52.92,
    'temp_min': 57.09,
    'temp_max': 57.09,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1008,
    'humidity': 87,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03n'}],
   'clouds': {'all': 41},
   'wind': {'speed': 9.22, 'deg': 225},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-27 09:00:00'},
  {'dt': 1598529600,
   'main': {'temp': 56.19,
    'feels_like': 53.37,
    'temp_min': 56.19,
    'temp_max': 56.19,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1007,
    'humidity': 89,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 57},
   'wind': {'speed': 6.69, 'deg': 210},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-27 12:00:00'},
  {'dt': 1598540400,
   'main': {'temp': 57.36,
    'feels_like': 55.15,
    'temp_min': 57.36,
    'temp_max': 57.36,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1008,
    'humidity': 85,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],
   'clouds': {'all': 61},
   'wind': {'speed': 5.53, 'deg': 203},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-27 15:00:00'},
  {'dt': 1598551200,
   'main': {'temp': 63.66,
    'feels_like': 61.39,
    'temp_min': 63.66,
    'temp_max': 63.66,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1007,
    'humidity': 67,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 50},
   'wind': {'speed': 5.41, 'deg': 230},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-27 18:00:00'},
  {'dt': 1598562000,
   'main': {'temp': 66.61,
    'feels_like': 63.14,
    'temp_min': 66.61,
    'temp_max': 66.61,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 61,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 17},
   'wind': {'speed': 7.7, 'deg': 252},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-27 21:00:00'},
  {'dt': 1598572800,
   'main': {'temp': 66.79,
    'feels_like': 62.74,
    'temp_min': 66.79,
    'temp_max': 66.79,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 60,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 12},
   'wind': {'speed': 8.57, 'deg': 261},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-28 00:00:00'},
  {'dt': 1598583600,
   'main': {'temp': 61.99,
    'feels_like': 59.07,
    'temp_min': 61.99,
    'temp_max': 61.99,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.55, 'deg': 268},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-28 03:00:00'},
  {'dt': 1598594400,
   'main': {'temp': 61.32,
    'feels_like': 59.16,
    'temp_min': 61.32,
    'temp_max': 61.32,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 69,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.5, 'deg': 220},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-28 06:00:00'},
  {'dt': 1598605200,
   'main': {'temp': 60.13,
    'feels_like': 58.19,
    'temp_min': 60.13,
    'temp_max': 60.13,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.32, 'deg': 246},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-28 09:00:00'},
  {'dt': 1598616000,
   'main': {'temp': 59.68,
    'feels_like': 58.1,
    'temp_min': 59.68,
    'temp_max': 59.68,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 74,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 3.65, 'deg': 233},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-28 12:00:00'},
  {'dt': 1598626800,
   'main': {'temp': 61.77,
    'feels_like': 60.73,
    'temp_min': 61.77,
    'temp_max': 61.77,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1007,
    'humidity': 69,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 2.73, 'deg': 222},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-28 15:00:00'},
  {'dt': 1598637600,
   'main': {'temp': 68.99,
    'feels_like': 66.7,
    'temp_min': 68.99,
    'temp_max': 68.99,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1007,
    'humidity': 53,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.76, 'deg': 235},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-28 18:00:00'},
  {'dt': 1598648400,
   'main': {'temp': 72,
    'feels_like': 67.62,
    'temp_min': 72,
    'temp_max': 72,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 49,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 8.79, 'deg': 255},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-28 21:00:00'},
  {'dt': 1598659200,
   'main': {'temp': 67.96,
    'feels_like': 61.86,
    'temp_min': 67.96,
    'temp_max': 67.96,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 56,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 11.81, 'deg': 256},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-29 00:00:00'},
  {'dt': 1598670000,
   'main': {'temp': 63.91,
    'feels_like': 60.94,
    'temp_min': 63.91,
    'temp_max': 63.91,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 66,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.58, 'deg': 250},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-29 03:00:00'},
  {'dt': 1598680800,
   'main': {'temp': 62.46,
    'feels_like': 59.88,
    'temp_min': 62.46,
    'temp_max': 62.46,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1007,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.2, 'deg': 238},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-29 06:00:00'},
  {'dt': 1598691600,
   'main': {'temp': 61.16,
    'feels_like': 58.55,
    'temp_min': 61.16,
    'temp_max': 61.16,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 76,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.58, 'deg': 236},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-29 09:00:00'},
  {'dt': 1598702400,
   'main': {'temp': 59.81,
    'feels_like': 57.99,
    'temp_min': 59.81,
    'temp_max': 59.81,
    'pressure': 1008,
    'sea_level': 1008,
    'grnd_level': 1006,
    'humidity': 81,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 5.41, 'deg': 228},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-29 12:00:00'},
  {'dt': 1598713200,
   'main': {'temp': 61.21,
    'feels_like': 60.13,
    'temp_min': 61.21,
    'temp_max': 61.21,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1007,
    'humidity': 77,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.07, 'deg': 240},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-29 15:00:00'},
  {'dt': 1598724000,
   'main': {'temp': 66.76,
    'feels_like': 63.77,
    'temp_min': 66.76,
    'temp_max': 66.76,
    'pressure': 1009,
    'sea_level': 1009,
    'grnd_level': 1007,
    'humidity': 60,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.67, 'deg': 248},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-29 18:00:00'},
  {'dt': 1598734800,
   'main': {'temp': 68.56,
    'feels_like': 63.27,
    'temp_min': 68.56,
    'temp_max': 68.56,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 57,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 10.92, 'deg': 256},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-29 21:00:00'},
  {'dt': 1598745600,
   'main': {'temp': 66.83,
    'feels_like': 60.51,
    'temp_min': 66.83,
    'temp_max': 66.83,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 59,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 12.37, 'deg': 255},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-30 00:00:00'},
  {'dt': 1598756400,
   'main': {'temp': 62.31,
    'feels_like': 58.96,
    'temp_min': 62.31,
    'temp_max': 62.31,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1005,
    'humidity': 69,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 7.09, 'deg': 251},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-30 03:00:00'},
  {'dt': 1598767200,
   'main': {'temp': 60.57,
    'feels_like': 57.38,
    'temp_min': 60.57,
    'temp_max': 60.57,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.73, 'deg': 239},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-30 06:00:00'},
  {'dt': 1598778000,
   'main': {'temp': 58.78,
    'feels_like': 55.92,
    'temp_min': 58.78,
    'temp_max': 58.78,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 80,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.55, 'deg': 235},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-30 09:00:00'},
  {'dt': 1598788800,
   'main': {'temp': 58.14,
    'feels_like': 56.16,
    'temp_min': 58.14,
    'temp_max': 58.14,
    'pressure': 1006,
    'sea_level': 1006,
    'grnd_level': 1005,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.99, 'deg': 227},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2020-08-30 12:00:00'},
  {'dt': 1598799600,
   'main': {'temp': 59.9,
    'feels_like': 58.17,
    'temp_min': 59.9,
    'temp_max': 59.9,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 77,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 4.56, 'deg': 227},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-30 15:00:00'},
  {'dt': 1598810400,
   'main': {'temp': 66.42,
    'feels_like': 62.91,
    'temp_min': 66.42,
    'temp_max': 66.42,
    'pressure': 1007,
    'sea_level': 1007,
    'grnd_level': 1006,
    'humidity': 57,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 0},
   'wind': {'speed': 6.73, 'deg': 239},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2020-08-30 18:00:00'}],
 'city': {'id': 5391959,
  'name': 'San Francisco',
  'coord': {'lat': 37.7749, 'lon': -122.4194},
  'country': 'US',
  'population': 805235,

In [126]:
data['list'][0]

{'dt': 1598389200,
 'main': {'temp': 65.21,
  'feels_like': 61.11,
  'temp_min': 65.21,
  'temp_max': 68.11,
  'pressure': 1012,
  'sea_level': 1011,
  'grnd_level': 1010,
  'humidity': 75,
  'temp_kf': -1.61},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'clouds': {'all': 51},
 'wind': {'speed': 11.25, 'deg': 253},
 'visibility': 10000,
 'pop': 0,
 'sys': {'pod': 'd'},
 'dt_txt': '2020-08-25 21:00:00'}

In [127]:
row = data['list'][0]
{
    'date': row['dt_txt'], 
    **row['main'], 
    **row['weather'][0]
}

{'date': '2020-08-25 21:00:00',
 'temp': 65.21,
 'feels_like': 61.11,
 'temp_min': 65.21,
 'temp_max': 68.11,
 'pressure': 1012,
 'sea_level': 1011,
 'grnd_level': 1010,
 'humidity': 75,
 'temp_kf': -1.61,
 'id': 803,
 'main': 'Clouds',
 'description': 'broken clouds',
 'icon': '04d'}

In [128]:
# Python magic to build a list of dicts

raw_data = [
    {
        'date': row['dt_txt'], 
        **row['main'], 
        **row['weather'][0]
    } 
    for row in data['list']
]

In [129]:
raw_data[0]

{'date': '2020-08-25 21:00:00',
 'temp': 65.21,
 'feels_like': 61.11,
 'temp_min': 65.21,
 'temp_max': 68.11,
 'pressure': 1012,
 'sea_level': 1011,
 'grnd_level': 1010,
 'humidity': 75,
 'temp_kf': -1.61,
 'id': 803,
 'main': 'Clouds',
 'description': 'broken clouds',
 'icon': '04d'}

In [130]:
weather = pd.DataFrame.from_dict(raw_data)
weather.head()

,date,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf,id,main,description,icon
0,2020-08-25 21:00:00,65.21,61.11,65.21,68.11,1012,1011,1010,75,-1.61,803,Clouds,broken clouds,04d
1,2020-08-26 00:00:00,64.58,60.44,64.58,65.16,1010,1010,1008,77,-0.32,802,Clouds,scattered clouds,03d
2,2020-08-26 03:00:00,62.42,59.85,62.42,62.42,1010,1010,1008,79,0.00,800,Clear,clear sky,01n
3,2020-08-26 06:00:00,61.41,58.37,61.41,61.41,1011,1011,1009,77,0.00,800,Clear,clear sky,01n
4,2020-08-26 09:00:00,59.14,56.32,59.14,59.14,1010,1010,1009,82,0.00,800,Clear,clear sky,01n

In [131]:
weather['date'] = pd.to_datetime(weather['date'])
weather.set_index('date', inplace=True)
weather.head()

,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf,id,main,description,icon
date,,,,,,,,,,,,,
2020-08-25 21:00:00,65.21,61.11,65.21,68.11,1012,1011,1010,75,-1.61,803,Clouds,broken clouds,04d
2020-08-26 00:00:00,64.58,60.44,64.58,65.16,1010,1010,1008,77,-0.32,802,Clouds,scattered clouds,03d
2020-08-26 03:00:00,62.42,59.85,62.42,62.42,1010,1010,1008,79,0.00,800,Clear,clear sky,01n
2020-08-26 06:00:00,61.41,58.37,61.41,61.41,1011,1011,1009,77,0.00,800,Clear,clear sky,01n
2020-08-26 09:00:00,59.14,56.32,59.14,59.14,1010,1010,1009,82,0.00,800,Clear,clear sky,01n

In [132]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2020-08-25 21:00:00 to 2020-08-30 18:00:00
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temp         40 non-null     float64
 1   feels_like   40 non-null     float64
 2   temp_min     40 non-null     float64
 3   temp_max     40 non-null     float64
 4   pressure     40 non-null     int64
 5   sea_level    40 non-null     int64
 6   grnd_level   40 non-null     int64
 7   humidity     40 non-null     int64
 8   temp_kf      40 non-null     float64
 9   id           40 non-null     int64
 10  main         40 non-null     object
 11  description  40 non-null     object
 12  icon         40 non-null     object
dtypes: float64(5), int64(5), object(3)
memory usage: 4.4+ KB

## Writing csv data

In [133]:
weather.to_csv('./data/weather.csv')

In [134]:
!head data/weather.csv

date,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf,id,main,description,icon
2020-08-25 21:00:00,65.21,61.11,65.21,68.11,1012,1011,1010,75,-1.61,803,Clouds,broken clouds,04d
2020-08-26 00:00:00,64.58,60.44,64.58,65.16,1010,1010,1008,77,-0.32,802,Clouds,scattered clouds,03d
2020-08-26 03:00:00,62.42,59.85,62.42,62.42,1010,1010,1008,79,0.0,800,Clear,clear sky,01n
2020-08-26 06:00:00,61.41,58.37,61.41,61.41,1011,1011,1009,77,0.0,800,Clear,clear sky,01n
2020-08-26 09:00:00,59.14,56.32,59.14,59.14,1010,1010,1009,82,0.0,800,Clear,clear sky,01n
2020-08-26 12:00:00,58.17,55.71,58.17,58.17,1010,1010,1009,84,0.0,800,Clear,clear sky,01n
2020-08-26 15:00:00,59.36,57.25,59.36,59.36,1011,1011,1010,80,0.0,800,Clear,clear sky,01d
2020-08-26 18:00:00,64.4,60.76,64.4,64.4,1011,1011,1010,64,0.0,800,Clear,clear sky,01d
2020-08-26 21:00:00,64.8,58.75,64.8,64.8,1010,1010,1009,63,0.0,800,Clear,clear sky,01d

JSON lines?

In [135]:
weather.head()

,temp,feels_like,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,temp_kf,id,main,description,icon
date,,,,,,,,,,,,,
2020-08-25 21:00:00,65.21,61.11,65.21,68.11,1012,1011,1010,75,-1.61,803,Clouds,broken clouds,04d
2020-08-26 00:00:00,64.58,60.44,64.58,65.16,1010,1010,1008,77,-0.32,802,Clouds,scattered clouds,03d
2020-08-26 03:00:00,62.42,59.85,62.42,62.42,1010,1010,1008,79,0.00,800,Clear,clear sky,01n
2020-08-26 06:00:00,61.41,58.37,61.41,61.41,1011,1011,1009,77,0.00,800,Clear,clear sky,01n
2020-08-26 09:00:00,59.14,56.32,59.14,59.14,1010,1010,1009,82,0.00,800,Clear,clear sky,01n

In [136]:
weather.to_json('./data/weather.jsonlines', orient='records', lines=True)

In [137]:
!cat data/weather.jsonlines

{"temp":65.21,"feels_like":61.11,"temp_min":65.21,"temp_max":68.11,"pressure":1012,"sea_level":1011,"grnd_level":1010,"humidity":75,"temp_kf":-1.61,"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}
{"temp":64.58,"feels_like":60.44,"temp_min":64.58,"temp_max":65.16,"pressure":1010,"sea_level":1010,"grnd_level":1008,"humidity":77,"temp_kf":-0.32,"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}
{"temp":62.42,"feels_like":59.85,"temp_min":62.42,"temp_max":62.42,"pressure":1010,"sea_level":1010,"grnd_level":1008,"humidity":79,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":61.41,"feels_like":58.37,"temp_min":61.41,"temp_max":61.41,"pressure":1011,"sea_level":1011,"grnd_level":1009,"humidity":77,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":59.14,"feels_like":56.32,"temp_min":59.14,"temp_max":59.14,"pressure":1010,"sea_level":1010,"grnd_level":1009,"humidity":82,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":58.17,"feels_like":55.71,"temp_min":58.17,"temp_max":58.17,"pressure":1010,"sea_level":1010,"grnd_level":1009,"humidity":84,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":59.36,"feels_like":57.25,"temp_min":59.36,"temp_max":59.36,"pressure":1011,"sea_level":1011,"grnd_level":1010,"humidity":80,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":64.4,"feels_like":60.76,"temp_min":64.4,"temp_max":64.4,"pressure":1011,"sea_level":1011,"grnd_level":1010,"humidity":64,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":64.8,"feels_like":58.75,"temp_min":64.8,"temp_max":64.8,"pressure":1010,"sea_level":1010,"grnd_level":1009,"humidity":63,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":61.9,"feels_like":54.93,"temp_min":61.9,"temp_max":61.9,"pressure":1009,"sea_level":1009,"grnd_level":1007,"humidity":71,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":57.47,"feels_like":52.03,"temp_min":57.47,"temp_max":57.47,"pressure":1009,"sea_level":1009,"grnd_level":1007,"humidity":85,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":56.95,"feels_like":52.18,"temp_min":56.95,"temp_max":56.95,"pressure":1010,"sea_level":1010,"grnd_level":1008,"humidity":87,"temp_kf":0.0,"id":801,"main":"Clouds","description":"few clouds","icon":"02n"}
{"temp":57.09,"feels_like":52.92,"temp_min":57.09,"temp_max":57.09,"pressure":1009,"sea_level":1009,"grnd_level":1008,"humidity":87,"temp_kf":0.0,"id":802,"main":"Clouds","description":"scattered clouds","icon":"03n"}
{"temp":56.19,"feels_like":53.37,"temp_min":56.19,"temp_max":56.19,"pressure":1008,"sea_level":1008,"grnd_level":1007,"humidity":89,"temp_kf":0.0,"id":803,"main":"Clouds","description":"broken clouds","icon":"04n"}
{"temp":57.36,"feels_like":55.15,"temp_min":57.36,"temp_max":57.36,"pressure":1009,"sea_level":1009,"grnd_level":1008,"humidity":85,"temp_kf":0.0,"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}
{"temp":63.66,"feels_like":61.39,"temp_min":63.66,"temp_max":63.66,"pressure":1009,"sea_level":1009,"grnd_level":1007,"humidity":67,"temp_kf":0.0,"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}
{"temp":66.61,"feels_like":63.14,"temp_min":66.61,"temp_max":66.61,"pressure":1007,"sea_level":1007,"grnd_level":1006,"humidity":61,"temp_kf":0.0,"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}
{"temp":66.79,"feels_like":62.74,"temp_min":66.79,"temp_max":66.79,"pressure":1006,"sea_level":1006,"grnd_level":1005,"humidity":60,"temp_kf":0.0,"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}
{"temp":61.99,"feels_like":59.07,"temp_min":61.99,"temp_max":61.99,"pressure":1006,"sea_level":1006,"grnd_level":1005,"humidity":71,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":61.32,"feels_like":59.16,"temp_min":61.32,"temp_max":61.32,"pressure":1007,"sea_level":1007,"grnd_level":1006,"humidity":69,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":60.13,"feels_like":58.19,"temp_min":60.13,"temp_max":60.13,"pressure":1006,"sea_level":1006,"grnd_level":1005,"humidity":73,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":59.68,"feels_like":58.1,"temp_min":59.68,"temp_max":59.68,"pressure":1006,"sea_level":1006,"grnd_level":1005,"humidity":74,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":61.77,"feels_like":60.73,"temp_min":61.77,"temp_max":61.77,"pressure":1008,"sea_level":1008,"grnd_level":1007,"humidity":69,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":68.99,"feels_like":66.7,"temp_min":68.99,"temp_max":68.99,"pressure":1008,"sea_level":1008,"grnd_level":1007,"humidity":53,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":72.0,"feels_like":67.62,"temp_min":72.0,"temp_max":72.0,"pressure":1007,"sea_level":1007,"grnd_level":1006,"humidity":49,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":67.96,"feels_like":61.86,"temp_min":67.96,"temp_max":67.96,"pressure":1006,"sea_level":1006,"grnd_level":1005,"humidity":56,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":63.91,"feels_like":60.94,"temp_min":63.91,"temp_max":63.91,"pressure":1007,"sea_level":1007,"grnd_level":1006,"humidity":66,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":62.46,"feels_like":59.88,"temp_min":62.46,"temp_max":62.46,"pressure":1008,"sea_level":1008,"grnd_level":1007,"humidity":71,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":61.16,"feels_like":58.55,"temp_min":61.16,"temp_max":61.16,"pressure":1007,"sea_level":1007,"grnd_level":1006,"humidity":76,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":59.81,"feels_like":57.99,"temp_min":59.81,"temp_max":59.81,"pressure":1008,"sea_level":1008,"grnd_level":1006,"humidity":81,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":61.21,"feels_like":60.13,"temp_min":61.21,"temp_max":61.21,"pressure":1009,"sea_level":1009,"grnd_level":1007,"humidity":77,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":66.76,"feels_like":63.77,"temp_min":66.76,"temp_max":66.76,"pressure":1009,"sea_level":1009,"grnd_level":1007,"humidity":60,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":68.56,"feels_like":63.27,"temp_min":68.56,"temp_max":68.56,"pressure":1007,"sea_level":1007,"grnd_level":1006,"humidity":57,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":66.83,"feels_like":60.51,"temp_min":66.83,"temp_max":66.83,"pressure":1006,"sea_level":1006,"grnd_level":1005,"humidity":59,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":62.31,"feels_like":58.96,"temp_min":62.31,"temp_max":62.31,"pressure":1007,"sea_level":1007,"grnd_level":1005,"humidity":69,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":60.57,"feels_like":57.38,"temp_min":60.57,"temp_max":60.57,"pressure":1007,"sea_level":1007,"grnd_level":1006,"humidity":73,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":58.78,"feels_like":55.92,"temp_min":58.78,"temp_max":58.78,"pressure":1006,"sea_level":1006,"grnd_level":1005,"humidity":80,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":58.14,"feels_like":56.16,"temp_min":58.14,"temp_max":58.14,"pressure":1006,"sea_level":1006,"grnd_level":1005,"humidity":82,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01n"}
{"temp":59.9,"feels_like":58.17,"temp_min":59.9,"temp_max":59.9,"pressure":1007,"sea_level":1007,"grnd_level":1006,"humidity":77,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}
{"temp":66.42,"feels_like":62.91,"temp_min":66.42,"temp_max":66.42,"pressure":1007,"sea_level":1007,"grnd_level":1006,"humidity":57,"temp_kf":0.0,"id":800,"main":"Clear","description":"clear sky","icon":"01d"}

In [138]:
df = pd.read_json('./data/weather.jsonlines', lines=True)

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temp         40 non-null     float64
 1   feels_like   40 non-null     float64
 2   temp_min     40 non-null     float64
 3   temp_max     40 non-null     float64
 4   pressure     40 non-null     int64
 5   sea_level    40 non-null     int64
 6   grnd_level   40 non-null     int64
 7   humidity     40 non-null     int64
 8   temp_kf      40 non-null     float64
 9   id           40 non-null     int64
 10  main         40 non-null     object
 11  description  40 non-null     object
 12  icon         40 non-null     object
dtypes: float64(5), int64(5), object(3)
memory usage: 4.2+ KB

In [140]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 40 entries, 2020-08-25 21:00:00 to 2020-08-30 18:00:00
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temp         40 non-null     float64
 1   feels_like   40 non-null     float64
 2   temp_min     40 non-null     float64
 3   temp_max     40 non-null     float64
 4   pressure     40 non-null     int64
 5   sea_level    40 non-null     int64
 6   grnd_level   40 non-null     int64
 7   humidity     40 non-null     int64
 8   temp_kf      40 non-null     float64
 9   id           40 non-null     int64
 10  main         40 non-null     object
 11  description  40 non-null     object
 12  icon         40 non-null     object
dtypes: float64(5), int64(5), object(3)
memory usage: 5.6+ KB

Open the [Pandas IO Lab][pandas-io-lab]

[pandas-io-lab]: ./pandas-io-lab.ipynb